.pipLineContainer {
    padding: 5%;
}

.pipline {
    padding: 15px;
}

.pipElement {
    padding: 0;
}

.circle {
    min-width: 100px;
    min-height: 100px;
    box-sizing: border-box;
    border: 1px dashed grey;
    border-radius: 50%;
    display: inline-block;
    float: left;
}

.circle:hover {
    border: 1px dashed green;
}

.plus:hover {
    color: green;
}

.sort:hover {
    border: 1px solid blue;
}

.circle span {
    font-size: smaller;
    cursor: pointer;
}

.circle span.plus {
    font-size: smaller;
}

.line {
    float: left;
}

@media screen and (max-width: 974px) {
    .line {
        margin-top: 100px;
        width: 3%;
    }

    .circle {
        margin-left: 2%;
        margin-bottom: 2%;
    }
}

@media only screen and (max-width: 730px) and (min-width: 652px) {
    .line {
        display: none;
    }
}

@media screen and (max-width: 413px) {
    .circle {
        float: none;
    }
}
