<li class="company-item">
    <div class="img">
        <img src="{{ company.logo.url }}" alt="{{ company.name }}">
    </div>
    <div class="desc">
        <h4 class="uk-text-bold">
            <a class="uk-link-reset" href="{% url 'company' pk=company.pk %}">{{ company.name }}</a>
        </h4>
        <p>{{ company.legal_address.address_line }}</p>
        <p>
            {% with company.vacancies.count as c_count %}
                <a class="vr-link uk-text-meta" href="#">{{ c_count }} vacanc{{ c_count|pluralize:"y,ies" }}</a>
            {% endwith %}
        </p>
    </div>
</li>
<br/>
