<li class="company-item">
    <div class="img uk-padding-small">
        <img src="{{ company.logo.url }}" alt="{{ company.name }}"/>
    </div>
    <div class="desc uk-padding-small">
        <h5 class="uk-text-bold uk-margin-remove-bottom">
            <a class="uk-link-reset" href="{% url 'company' pk=company.pk %}">{{ company.name }}</a>
        </h5>
        <p class="uk-padding-remove uk-margin-remove">{{ company.legal_address.address_line }}</p>
        <p class="uk-margin-remove">
            <a class="vr-link uk-text-meta" href="#">{{ company.vacancies.count }} vacancies</a>
        </p>
    </div>
</li>
