amqp==2.2.2
billiard==3.5.0.3
bleach==2.1.2
celery==4.1.0
certifi==2017.11.5
chardet==3.0.4
cytoolz==0.9.0
Django==2.0.2
django-appconf==1.0.2
django-material==1.2.2
django-model-utils==3.1.1
django-summernote==0.8.8.5
django-tinymce==2.7.0
django-user-accounts==2.0.3
eth-abi==0.5.0
eth-keyfile==0.4.1
eth-keys==0.1.0b4
eth-tester==0.1.0b11
eth-utils==0.7.4
html5lib==1.0.1
idna==2.6
kombu==4.1.0
Markdown==2.6.11
Pillow==5.0.0
py-solc==2.1.0
pycryptodome==3.4.7
pylru==1.0.9
pysha3==1.0.2
python-utils==2.2.0
pytz==2018.3
requests==2.18.4
rlp==0.6.0
semantic-version==2.6.0
six==1.11.0
SQLAlchemy==1.2.2
toolz==0.9.0
Unidecode==1.0.22
urllib3==1.22
vine==1.1.4
web3==3.16.4
webencodings==0.5.1
