{% extends 'jobboard/base.html' %}

{% load material_form static %}

{% block head_title %}Candidate - New CV{% endblock %}

{% block content %}
    <div class="uk-container uk-align-center">
        <h4 class="center">New Candidate Cv</h4>
        <form class="uk-form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <button type="submit" class="uk-button uk-button-primary uk-button-small uk-align-right">Save</button>
        </form>
    </div>
{% endblock %}
