{% extends 'jobboard/base.html' %}

{% block head_title %}Vera Oracle - Education {{ edu_o.profession|title }} edit{% endblock %}

{% load material_form %}

{% block content %}
    <div class="uk-container uk-align-center">
            {% if error %}
                <h4>
                    {{ error }}
                </h4>
            {% else %}
                {% if error %}
                    <span class="center red-text">{{ error }}</span>
                {% endif %}
                <form class="uk-form-horizontal" action="{% url 'education_edit' education_id=edu_o.id %}" method="post">
                <fieldset class="uk-fieldset">
                    <legend class="uk-legend">
                        Edit CV Education "{{ edu_o.profession|title }}"
                    </legend>
                    {% csrf_token %}
                    {% form form=form %}{% endform %}
                    <button class="uk-button uk-button-primary uk-align-right uk-button-small">Save</button>
                </fieldset>

                </form>
            {% endif %}
    </div>
{% endblock %}
