{% extends 'jobboard/base.html' %}

{% load material_form i18n static %}

{% block head_title %}CurriculumVitae - New experience{% endblock %}

{% block content %}
    <div class="uk-container uk-align-center">
        <form action="{% url 'new_experience' cv_id=cv %}" method="post">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">
                    {% trans 'Add Experience for CV' %}
                </legend>
                {% csrf_token %}
                {% form form=form %}{% endform %}
                <button class="uk-button uk-button-primary uk-align-right">Save</button>
            </fieldset>
        </form>
    </div>
{% endblock %}

