{% extends 'jobboard/base.html' %}

{% load material_form i18n static %}

{% block head_title %}CurriculumVitae - New position{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
    <div class="uk-container uk-align-center">
        <form class="uk-form-horizontal" action="{% url 'new_position' pk=cv.id %}" method="post">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">
                    {% trans 'New Position for ' %} {{ cv.title }}
                </legend>
                {% csrf_token %}
                {% form form=form %}{% endform %}
            </fieldset>
            <button type="submit"
                    class="uk-button uk-button-small uk-button-primary uk-align-right">Agree
            </button>
        </form>
    </div>
{% endblock %}

{% block extra_js %}

{% endblock %}
