{% extends 'jobboard/base.html' %}

{% load i18n material_form %}

{% block head_title %}CurriculumVitae - New position{% endblock %}

{% block content %}
    <div class="container">
        <h4 class="center">New Position for CV</h4>
        <form action="{% url 'new_position' cv_id=cv %}" method="post">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <button type="submit"
                    class="btn waves-effect waves-green right blue">Agree
            </button>
        </form>
    </div>
{% endblock %}