{% extends 'jobboard/base.html' %}

{% block head_title %}Vera Oracle - Vacancy Offer{% endblock %}

{% load jobboard_tags %}

{% block content %}
    {{ block.super }}
    <div class="uk-container uk-align-center">
        <h4>Vacancy offers</h4>
        {% if vac_offers %}
            <ul uk-accordion="multiple: true">
                {% for item in vac_offers %}
                    <li class="uk-open uk-box-shadow-small uk-padding-small">
                        <a class="uk-accordion-title" href="#">{{ item.vacancy.title|title }}<span
                                class="uk-text-small grey-text">, {{ item.vacancy.employer.organization }}</span></a>

                        <div class="uk-accordion-content">
                            <p>Hello! Please consider our vacancy <a
                                    href="{% url 'vacancy' pk=item.vacancy.id %}">{{ item.vacancy.title|lower }}</a>.
                            </p>
                            <div class="uk-align-right">
                                <a class="uk-button uk-button-small red white-text  uk-button-default" href="{% url 'hide_offer' pk=item.pk %}">Hide</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <br><br><br><br><br>
            You do not have any job offers
            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>
        {% endif %}
    </div>
{% endblock %}
