<p class="flow-text">{{ education.institute }}{% if education.faculty %},
    <small class="grey-text">{{ education.faculty }}</small>{% endif %}
    {% if owner %}
        <a href="{% url 'education_edit' education_id=education.id %}"><i class="fa fa-pencil-square-o grey-text" aria-hidden="true"></i></a>
    {% endif %}
</p>
{% if education.education_from %}
    From {{ education.education_from|date:'d E Y' }}
{% endif %}
{% if education.education_to %}
    to {{ education.education_to|date:'d E Y' }}
{% endif %}
{% if education.profession %}
    <div>
        {{ education.profession }}
    </div>
{% endif %}