{% load cv_tags %}
<div>
    <p class="uk-text-lead">{{ experience.organization }},
        <small class="uk-text-muted">{{ experience.position }}, {{ experience.city }}</small>
        {% if user == cv.candidate.user %}
            <a href="{% url 'experience_edit' pk=experience.id %}" uk-icon="icon: file-edit"></a>
        {% endif %}
    </p>
    {% if not experience.still %}
        From {{ experience.start_month|month_name }} {{ experience.start_year }} to
        {{ experience.end_month|month_name }} {{ experience.end_year }}
        ({{ experience.end_year|sub:experience.start_year }} year
        {{ experience.end_year|sub:experience.start_year|pluralize }}).
    {% else %}
        From {{ experience.start_month|month_name }} {{ experience.start_year }} until now.
    {% endif %}
    {% if experience.description %}
        {{ experience.description|safe }}
    {% endif %}
</div>
