{% extends "account/base.html" %}

{% load material_form i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="uk-container uk-align-center uk-text-center">
        <h4 class="uk-text-bold blue-text text-lighten-1 uk-text-uppercase">{% trans "Password Reset" %}</h4>
        <div class="uk-width-1-4 uk-align-center">
            <div class="white uk-padding-small uk-text-center uk-margin-large-bottom">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="uk-text-meta">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}"
                      class="uk-text-left">
                    {% csrf_token %}
                    {% form form=form %}{% endform %}
                    <input class="uk-button uk-button-small uk-button-primary uk-align-center uk-margin-remove-bottom" type="submit"
                           value="{% trans 'Reset My Password' %}"/>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
