{% extends "account/base.html" %}

{% load i18n material_form %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="uk-container uk-align-center">
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST"
          action="{% url 'account_set_password' %}"
          class="password_set uk-form-horizontal">
        {% csrf_token %}
        {% form form=form %}{% endform %}
        <input class="uk-button uk-button-small uk-button-primary uk-align-right"
               type="submit"
               name="action"
               value="{% trans 'Set Password' %}"/>
    </form>
    </div>
{% endblock %}
