{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="uk-container uk-align-center uk-text-center">
        <h4 class="uk-text-bold blue-text text-lighten-1 uk-text-uppercase">{% trans "Password Reset" %}</h4>
        <div class="uk-width-1-4 uk-align-center">
            <div class="white uk-padding-small uk-text-center uk-margin-large-bottom">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="uk-text-meta">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
                    minutes.{% endblocktrans %}</p>
                <p>Check your email to continue.</p>
                <div class="uk-clearfix"></div>
            </div>
        </div>
    </div>

{% endblock %}
