{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="uk-container uk-align-center uk-text-center">
        <h4 class="uk-text-bold blue-text text-lighten-1 uk-text-uppercase">{% trans "Change Password" %}</h4>
        <div class="uk-width-1-4 uk-align-center">
            <div class="white uk-padding-small uk-text-center uk-margin-large-bottom vr-auth">
                <p>{% trans 'Your password is now changed.' %}</p>
                <a class="uk-button uk-button-small uk-button-default uk-text-uppercase" href="{% url 'index' %}">Home</a>
                <a class="uk-button uk-button-small uk-button-primary uk-text-uppercase" href="{% url 'account_login' %}">Login</a>
                <div class="uk-clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}
