{% load jobboard_tags %}
{% if balance is not None %}
    {% with user|can_withdraw as can_withdraw %}
        {{ balance }} Vera
        {% if can_withdraw %}
            {% if balance > 0 %}
                <a class="uk-link-muted" href="#withdraw-modal" uk-toggle>Withdraw</a>
            {% endif %}
        {% else %}
            <span class="amber-text">Pending...<div uk-spinner="ratio:0.7"></div></span>
        {% endif %}
        {% if balance > 0 and can_withdraw %}
            <div id="withdraw-modal" uk-modal>
                <div class="uk-modal-dialog">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <form action="{% url 'withdraw' %}" method="post">
                        {% csrf_token %}
                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title">Token withdraw</h2>
                        </div>
                        <div class="uk-modal-body">
                            <p>Please indicate the eth wallet address and the number of coins for withdrawal</p>
                            <div class="uk-margin">
                                <div class="uk-inline uk-display-block">
                                    <span class="uk-form-icon" uk-icon="icon: file-edit"></span>
                                    <input class="uk-input" type="text" name="address" required
                                           id="address"
                                           placeholder="ETH Wallet address"
                                           autocomplete="off">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-display-block">
                                    <span class="uk-form-icon" uk-icon="icon: file-edit"></span>
                                    <input class="uk-input" type="number" step="0.001" name="amount" maxlength="30" required
                                           id="amount"
                                           max="{{ balance }}"
                                           placeholder="Amount (max: {{ balance }} Vera)"
                                           autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-small uk-button-default uk-modal-close" type="button">Cancel</button>
                            <button class="uk-button uk-button-small uk-button-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    {% endwith %}
{% else %}
    <div uk-spinner="ratio: 0.7"></div>
{% endif %}
