{% load jobboard_tags %}
{% if profiles %}
    <h5>Job seekers who subscribe to a job offer</h5>
    <table class="uk-table uk-table-divider uk-table-small">
        <thead>
        <tr>
            <th>Curriculum vitae</th>
            <th class="uk-text-center">Candidate state</th>
            <th class="uk-text-right">Approve</th>
        </tr>
        </thead>
        <tbody>
        {% for cp in profiles %}
            {% with vacancy|candidate_state:cp.profile.candidate as st %}
                <tr>
                    <td>
                        <a href="{% url 'candidateprofile' pk=cp.profile.id %}">{{ cp.profile.candidate.full_name }}
                            - {{ cp.profile.title }}</a>
                    </td>
                    <td class="uk-text-center
                            {% if st == 'wait' %}
                            amber-text
                            {% elif st == 'accepted' %}
                            green-text
                            {% elif st == 'revoked' %}
                            red-text
                            {% endif %}">
                        {{ st | capfirst }}
                    </td>
                    <td class="uk-text-right">
                        {% if st == 'wait' %}
                            {% if cp.profile.candidate.id|employer_answered:vacancy.id %}
                                <div uk-spinner="ratio: 0.7"></div>
                            {% else %}
                                <form class="uk-inline" action="{% url 'access_candidate' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="grant">
                                    <input type="hidden" name="candidate" value="{{ cv.cv.candidate.id }}">
                                    <input type="hidden" name="vacancy" value="{{ vacancy.id }}">
                                    <button type="submit" class="uk-button green uk-button-small white-text">
                                        approve
                                    </button>
                                </form>
                                <form class="uk-inline" action="{% url 'access_candidate' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="revoke">
                                    <input type="hidden" name="candidate" value="{{ cv.cv.candidate.id }}">
                                    <input type="hidden" name="vacancy" value="{{ vacancy.id }}">
                                    <button type="submit" class="uk-button red uk-button-small white-text">
                                        revoke
                                    </button>
                                </form>
                            {% endif %}
                        {% elif st == 'accepted' or st == 'paid' %}
                            Approved
                        {% elif st == 'revoked' %}
                            Revoked
                        {% endif %}
                    </td>
                </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}
