{% load jobboard_tags %}
<ul data-uk-accordion="multiple: true">
    {% if facts %}
        {% for fact_object in facts %}
            {% with fact_object.fact as fact %}
                {% with candidate.contract_address|is_fact_verify:fact_object.id as fact_verify %}
                    <li class="uk-border uk-padding-small">
                        <a class="uk-accordion-title" href="#">
                            {% if fact.type == 'learning' %}
                                Studied
                            {% elif fact.type == 'worked' %}
                                Have worked
                            {% elif fact.type == 'certification' %}
                                Certificate
                            {% elif fact.type == 'vac_pass' %}
                                Pass the vacancy pipeline
                            {% endif %}
                            {% if fact_verify %}
                                <span class="green-text"
                                      data-uk-icon="icon: check; ratio: 1"></span>
                            {% else %}
                                <span data-uk-icon="icon: question; ratio: 1"></span>
                            {% endif %}
                        </a>
                        <div class="uk-accordion-content">

                            <p>{% if fact.type == 'learning' %}
                                Studied at {{ fact.place }}, from {{ fact.date_from }} to
                                {{ fact.date_up_to }},
                                specialty {{ fact.specialisation }}.<br/>
                                Diploma number {{ fact.diploma_number }}. <br/>
                            {% elif fact.type == 'worked' %}
                                Have worked at {{ fact.place }}, from {{ fact.date_from }} to
                                {{ fact.date_up_to }},
                                at position {{ fact.position }}. <br/>
                            {% elif fact.type == 'certification' %}
                                Received certificate from {{ fact.institution }}, at course
                                {{ fact.course }}.
                                Date of receiving {{ fact.date_of_receiving }}. <br/>
                            {% elif fact.type == 'vac_pass' %}
                                {{ fact.title|capfirst }} {{ fact.employer }}.
                                <br/>
                            {% endif %}
                            </p>
                        </div>
                    </li>
                {% endwith %}
            {% endwith %}
        {% endfor %}
    {% else %}
        <li class="uk-border uk-padding-small">
            <a class="uk-accordion-title" href="#">Facts not added yet.</a>
        </li>
    {% endif %}
</ul>
