{% extends 'jobboard/base.html' %}

{% load quiz_tags i18n %}

{% block head_title %}VeraOracle - New exam{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="uk-container uk-align-center">
        <h4 class="center">{% trans 'Add exam for action' %}</h4>
        <form method="post" action="{% url 'action_exam_new' pk=action.id %}">
            {% csrf_token %}
            <input type="hidden" value="{{ action.id }}" name="action">
            <ul uk-accordion="multiple: true">
                {% include 'quiz/tags/category_list.html' with categories=object_list %}
            </ul>
            <button type="submit" class="uk-button uk-button-primary uk-button-small uk-align-right">Continue</button>
        </form>
    </div>
{% endblock %}
