{% extends 'jobboard/base.html' %}

{% load material_form static %}

{% block head_title %} Quiz - new answer for {{ question.question_text|safe }} {% endblock %}

{% block content %}
    {{ block.super }}
    <div class="uk-container uk-align-center">
        <h4 class="uk-text-bold">New answer</h4>
        <span data-hint="question">{{ question.question_text|safe }}</span>
        <div class="uk-margin-medium-top uk-margin-large-bottom" data-uk-grid>
            <div class="uk-width-3-4">
                <div class="vr-window uk-padding-small white">
                    <form class="uk-form-horizontal" method="post">
                        {% csrf_token %}
                        {% form form=form %}{% endform %}
                        <div class="uk-align-right uk-margin-remove-bottom">
                            <button type="submit" name="_addanother"
                                    class="uk-button uk-button-small uk-button-default">Save and add another
                            </button>
                            <button id="save" type="submit" class="uk-button uk-button-small uk-button-primary">Save
                            </button>
                        </div>
                    <div class="uk-clearfix"></div>
                    </form>
                </div>

            </div>
            <div class="uk-width-1-4">
                <div class="vr-window uk-padding-small white">
                    <h4 class="uk-text-bold">
                        Answer description
                    </h4>
                    <p>{% lorem %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/hints/new_answer.js' %}"></script>
{% endblock %}
