{% extends 'jobboard/base.html' %}

{% load quiz_tags i18n %}

{% block head_title %}VeraOracle - examining...{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="uk-container uk-align-center">
        <h4>{% trans 'Test for ' %} {{ action.pipeline.vacancy.title|title }}</h4>
        {% if exam %}
            <form method="post">
                <fieldset class="uk-fieldset">
                    {% csrf_token %}
                    <input type="hidden" name="exam_id" value="{{ exam.id }}">
                    <input type="hidden" name="cv_id" value="{{ cv.id }}">
                    {% with exam.questions.all as questions %}
                        {% for question in questions %}
                            <div class="uk-box-shadow-small uk-padding-small uk-margin-small">
                                {% include "quiz/question_kinds/"|add:question.kind.template_name|add:'_question.html' %}
                            </div>
                        {% endfor %}
                    {% endwith %}
                </fieldset>
                <button class="uk-button uk-button-primary uk-button-small uk-align-right">Continue</button>
            </form>
        {% elif exam_passed %}
            <p class="uk-text-lead">
                You already pass this exam.
            </p>
            {% if exam_passed.processed %}
                <p>
                    You scored {{ exam_passed.points }} points. Employer set passing grade
                    {{ exam_passed.exam.passing_grade }} points.
                </p>
            {% else %}
                <div uk-spinner="ratio: 0.4">The results of your exam are now being processed  </div>
            {% endif %}
        {% endif %}
        <a class="uk-button uk-button-primary uk-button-small uk-align-right" href="{% url 'vacancy' pk=action.pipeline.vacancy.pk %}">Back to vacancy</a>
    </div>
{% endblock %}
