{% extends 'jobboard/base.html' %}

{% load material_form static %}

{% block head_title %} Quiz - new category {% endblock %}

{% block content %}
    {{ block.super }}
    <div class="uk-container uk-align-center">
        <h4 class="uk-text-bold">New category</h4>
        <div class="uk-margin-medium-top uk-margin-large-bottom" data-uk-grid>
            <div class="uk-width-3-4">
                <div class="vr-window white uk-padding-small">
                    <form class="uk-form-horizontal" method="post">
                        {% csrf_token %}
                        {% form form=form %}{% endform %}
                        <button type="submit"
                                class="uk-button uk-button-small uk-button-primary uk-align-right uk-margin-remove-bottom">
                            Save
                        </button>
                        <div class="uk-clearfix"></div>
                    </form>
                </div>
            </div>
            <div class="uk-width-1-4">
                <div class="uk-padding-small vr-window white">
                    <h5 class="uk-text-bold">
                        Quiz application
                    </h5>
                    <p>{% lorem %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {% if hints_enabled %}
        <script src="{% static 'js/hints/new_category.js' %}"></script>
    {% endif %}
{% endblock %}
