{% extends 'jobboard/base.html' %}

{% load material_form static %}

{% block head_title %} Quiz - new category {% endblock %}

{% block content %}
    {{ block.super }}
    <div class="uk-container uk-align-center">
        <h3>New category</h3>
        <form class="uk-form-horizontal" method="post">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <button type="submit" class="uk-button uk-button-small uk-button-primary uk-align-right">Save</button>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/hints/new_category.js' %}"></script>
{% endblock %}
