{% extends 'jobboard/base.html' %}

{% load quiz_tags static %}

{% block head_title %}
    {{ object.title|title }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div data-hint="main" class="uk-container uk-align-center">
        <h4 class="uk-text-bold">{{ object.title|title }}</h4>
        <div class="uk-margin-medium-bottom" data-uk-grid>
            <div class="uk-width-3-4">
                <div class="vr-window">
                    {% if object.questions.all %}
                        {% for question in object.questions.all %}
                            {% include 'quiz/include/question.html' with item=question %}
                        {% endfor %}
                    {% else %}
                        <div class="uk-padding-small white">
                            Category has no questions yet.
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="uk-width-1-4">
                <div class="vr-window uk-padding-small white">
                    <h4 class="uk-text-bold">
                        Category desc
                    </h4>
                    <ul class="uk-list">
                        <li class="uk-text-justify">
                            Author: {% firstof category.created_by.full_name category.created_by.username %}
                        </li>
                        <li>Created: {{ category.created_at|date }}</li>
                        <li>Last update: {{ category.updated_at|date }}</li>
                    </ul>
                    <a data-hint="add_link" href="{% url 'new_question' category_id=object.id %}"
                       class="uk-button uk-button-primary uk-button-small uk-align-right uk-margin-remove-bottom">Add
                        new question</a>
                    <div class="uk-clearfix"></div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block extra_js %}
    {% if hints_enabled %}
        <script src="{% static 'js/hints/category_details.js' %}"></script>
    {% endif %}
{% endblock %}

