{% extends 'jobboard/base.html' %}

{% load pipeline_tags %}

{% block head_title %}Vera Oracle - Exam results {% endblock %}

{% block content %}
    <div class="uk-container uk-align-center">
        <h4>Exam result for CV {{ object.cv.title }}</h4>
        {% for question in object.exam.questions.all %}
            {% with object.answers|question_result:question.id as answers %}
                <div class="uk-box-shadow-small uk-padding-small uk-margin-small">
                    {% include "quiz/question_kinds/"|add:question.kind.template_name|add:'_question.html' with answers=answers %}
                </div>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}
