{% extends 'jobboard/base.html' %}

{% block head_title %} Vera Oracle Quiz {% endblock %}

{% block content %}
    <div class="uk-container uk-align-center">
        <h3>Quiz application</h3>
        {% for category in categories %}
            {% include 'quiz/include/category.html' with item=category %}
        {% endfor %}
    <div class="uk-clearfix">

    </div>
        <a href="{% url 'new_category' %}" class="uk-button uk-button-default uk-button-small uk-align-right">New
            category</a>
    </div>
{% endblock %}
