{% load jobboard_tags material_form %}

<a class="uk-button uk-margin-small uk-button-default uk-button-small uk-align-right uk-margin-small-right"
   href="#add_fact_modal" data-uk-toggle>Add fact</a>
<div class="uk-clearfix"></div>
<div id="add_fact_modal" data-uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" data-uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Fact adding</h2>
        </div>
        <div class="">
            <ul class="uk-child-width-expand uk-margin-remove-bottom" data-uk-tab="{connect: '#add_fact_container'}">
                <li class="uk-active"><a href="#">Learning</a></li>
                <li><a href="#">Have worked</a></li>
                <li><a href="#">Certificate</a></li>
            </ul>
            <ul id="add_fact_container" class="uk-switcher uk-padding-small">
                <li>
                    <form class="uk-form-horizontal" action="{% url 'new_fact' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="f_type" value="learning">
                        {% form form=learning_form %}{% endform %}
                        <button type="submit" class="uk-button uk-button-primary uk-button-small uk-align-right">Agree
                        </button>
                        <div class="uk-clearfix"></div>
                    </form>
                </li>
                <li>
                    <form class="uk-form-horizontal" action="{% url 'new_fact' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="f_type" value="worked">
                        {% form form=worked_form %}{% endform %}
                        <button type="submit" class="uk-button uk-button-primary uk-button-small uk-align-right">Agree
                        </button>
                        <div class="uk-clearfix"></div>
                    </form>
                </li>
                <li>
                    <form class="uk-form-horizontal" action="{% url 'new_fact' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="f_type" value="certification">
                        {% form form=certificate_form %}{% endform %}
                        <button type="submit" class="uk-button uk-button-primary uk-button-small uk-align-right">Agree
                        </button>
                        <div class="uk-clearfix"></div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
