{% if cv %}
    <h5 class="center">My Curriculum vitae</h5>
    {% for item in cv %}
        <div class="row">
            <div class="col s2 m2 l2">
                {% if item.image %}
                    <img style="width: 100%;" src="{{ item.image.url }}"/>
                {% endif %}
            </div>
            <div class="col s10 m10 l10">
                <h5>
                    <a href="{% url 'cv' cv_id=item.id %}">
                        {% if item.position %}
                            {{ item.position.title }}
                        {% else %}
                            No name
                        {% endif %}
                    </a>
                </h5>
                <table width="100%">
                    <colgroup>
                        <col width="10%">
                        <col width="90%">
                    </colgroup>
                    <tr>
                        <td>Salary from:</td>
                        <td>
                            {% if item.position %}
                                {{ item.position.salary_from }} $
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Busyness:</td>
                        <td>
                            {% if item.position %}
                                {% for busyness in item.position.busyness.all %}
                                    <div class="chip">{{ busyness }}</div>
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Schedule:</td>
                        <td>
                            {% if item.position %}
                                {% for schedule in item.position.schedule.all %}
                                    <div class="chip">{{ schedule }}</div>
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                </table>
                {% if item.position %}
                    {% if item.position.carier_start %}
                        <div class="chip green white-text">Caries start</div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <hr/>
    {% endfor %}
{% endif %}
<a class="btn waves-effect waves-light right amber white-text" href="{% url 'new_cv' %}">Add new curriculum vitae.</a>
<div class="clearfix"></div>