{% load jobboard_tags %}

<table class="uk-table uk-table-divider uk-table-small" width="100%">
    <colgroup>
        <col width="20%">
        <col width="80%">
    </colgroup>
    <tr>
        <td>Organization:</td>
        <td>{{ request.role_object.organization }}</td>
    </tr>
    <tr>
        <td>Tax number:</td>
        <td>{{ request.role_object.tax_number }}</td>
    </tr>
    <tr>
        <td>Contract address:</td>
        <td>
            {% if request.role_object.contract_address is not None %}
                <img style="width: 16px; height: 16px;"
                     src="{{ request.role_object.contract_address|get_blockies_png }}" alt="">
                <a class="uk-link-reset" target="_blank"
                   href="https://rinkeby.etherscan.io/address/{{ request.role_object.contract_address }}">{{ request.role_object.contract_address }}</a>
            {% else %}
                <div uk-spinner="ratio: 0.7"></div>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Balance:</td>
        <td>
            {% get_balance request.role_object.user request.role_object.contract_address %}
        </td>
    </tr>
    <tr>
        <td>Approved for oracle:</td>
        <td>
            {% oracle_allowance request.role_object.contract_address request.user.id %}
        </td>
    </tr>
</table>
{% with request.role_object.vacancies_top as vacancies %}
    {% if vacancies %}
        <h5>Your vacancies</h5>
        {% for vacancy in vacancies %}
            {% include 'vacancy/vacancy_short.html' with item=vacancy editable=True show_info=True %}
        {% endfor %}
    {% endif %}
{% endwith %}
{% if request.role_object.vacancies.all.count > 3 %}
    <a class="uk-button uk-button-small uk-button-default uk-align-right" href="{% url 'vacancy_all' %}">All
        vacancies</a>
{% endif %}

