{% load jobboard_tags %}
<ul class="uk-pagination uk-flex-center" data-uk-margin>
    <li{% if not paginate.has_previous %} class="uk-disabled"{% endif %}>
        <a {% if paginate.has_previous %}href="?{% if get_list %}{{ get_list|get_url_without:'page' }}&{% endif %}page={{ paginate.previous_page_number }}"{% endif %}>
            <span data-uk-pagination-previous></span></a>
        </a>
    </li>
    <li{% if paginate.number == 1 %} class="uk-active"{% endif %}><a
            href="?{% if get_list %}{{ get_list|get_url_without:'page' }}&{% endif %}page=1">1</a></li>

    {% with paginate.number|paginator_pages:paginate.paginator.num_pages as pg %}
        {% with pg|first as first %}
            {% if first %}
                {% if 1|need_dots:first %}
                    <li><a><span>...</span></a></li>
                {% endif %}
            {% endif %}
        {% endwith %}
        {% for i in pg %}
            <li{% if paginate.number == i %} class="uk-active"{% endif %}><a
                    href="?{% if get_list %}{{ get_list|get_url_without:'page' }}&{% endif %}page={{ i }}">{{ i }}</a>
            </li>
        {% endfor %}
        {% with pg|last as last %}
            {% if last %}
                {% if last|need_dots:paginate.paginator.num_pages %}
                    <li><a><span>...</span></a></li>
                {% endif %}
            {% endif %}
        {% endwith %}
    {% endwith %}

    <li{% if paginate.number == paginate.paginator.num_pages %} class="uk-active"{% endif %}><a
            href="?{% if get_list %}{{ get_list|get_url_without:'page' }}&{% endif %}page={{ paginate.paginator.num_pages }}">{{ paginate.paginator.num_pages }}</a>
    </li>
    <li{% if not paginate.has_next %} class="uk-disabled"{% endif %}>
        <a {% if paginate.has_next %}href="?{% if get_list %}{{ get_list|get_url_without:'page' }}&{% endif %}page={{ paginate.next_page_number }}"{% endif %}>
            <span data-uk-pagination-next></span>
        </a>
    </li>
</ul>