{% extends 'jobboard/base.html' %}
{% load static company_tags material_form jobboard_tags %}

{% block content %}
    {{ office_form.media }}
    {{ block.super }}
    {% if user.is_authenticated %}
        {% member_company_role user company as role %}
    {% endif %}
    <div class="uk-container uk-align-center">
        <div class="uk-margin-large-top" data-uk-grid>
            <div class="uk-width-{% if role %}3-4{% else %}1-1{% endif %}">
                <ul data-uk-tab="connect: #profile_container">
                    <li class="uk-active"><a class="uk-text-capitalize" href="#">Main info</a></li>
                    <li><a class="uk-text-capitalize" href="#">Vacancies</a></li>
                    {% if role %}
                        <li><a class="uk-text-capitalize" href="#">Fellow workers</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="uk-margin-top-small uk-margin-large-bottom" data-uk-grid>
            <div class="uk-width-3-4">
                <div class="vr-window white">
                    <ul id="profile_container" class="uk-switcher">
                        <li>
                            <div class="vr-bg">
                                <div class="bg-top_2"></div>
                                <div class="company">
                                    <img src="{{ company.logo.url }}" alt="{{ company.name }}">
                                    <h2>{{ company.name }}</h2>
                                </div>
                            </div>
                            <div class="uk-padding-small">
                                <table class="uk-table uk-table-divider uk-table-small">
                                    <colgroup>
                                        <col width="40%">
                                        <col width="60%">
                                    </colgroup>
                                    <tr>
                                        <td>Tax number</td>
                                        <td>{{ company.tax_number }}</td>
                                    </tr>
                                    <tr>
                                        <td>Legal address</td>
                                        <td>{{ company.legal_address }}</td>
                                    </tr>
                                    <tr>
                                        <td>Work sector</td>
                                        <td>{{ company.work_sector }}</td>
                                    </tr>
                                    <tr>
                                        <td>Date created</td>
                                        <td>{{ company.date_created }}</td>
                                    </tr>

                                    <tr>
                                        <td>Aims & objectives</td>
                                        <td>
                                            <p>
                                                {{ company.description|safe }}
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                <div class="block-footer uk-text-right">
                                    {% for soclink in company.social_links.all %}
                                        <a class="uk-link-text company-link"
                                           href="{{ soclink.link }}">{{ soclink.link|icon_for_link }}</a>
                                    {% endfor %}
                                    {% if role %}
                                        <i data-uk-tooltip="Add social link"
                                           class="uk-margin-small uk-margin-small-left fa fa-plus fa-2x"
                                           area-hidden="true" data-uk-toggle="target: #modal-add_soclink"></i>
                                        <div id="modal-add_soclink" data-uk-modal>
                                            <div class="uk-modal-dialog uk-modal-body">
                                                <form method="post" action="{% url 'new_social_link' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="company" value="{{ company.pk }}">
                                                    <h2 class="uk-modal-title">Add social link</h2>
                                                    <div class="uk-margin">
                                                        <label for="id_new_soclink" class="uk-form-label">Social
                                                            url</label>
                                                        <div class="uk-form-controls">
                                                            <input name="link" class="uk-input" type="text"
                                                                   id="id_new_soclink"/>
                                                        </div>
                                                    </div>
                                                    <p class="uk-text-right">
                                                        <button class="uk-button-small uk-button uk-button-default uk-modal-close"
                                                                type="reset">Cancel
                                                        </button>
                                                        <button class="uk-button-small uk-button uk-button-primary"
                                                                type="submit">Save
                                                        </button>
                                                    </p>
                                                </form>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                {% for vacancy in company.vacancies.all %}
                                    {% include 'vacancy/vacancy_short.html' with item=vacancy desc=True show_info=True editable=True %}
                                {% empty %}
                                    Company has no vacancies yet.
                                {% endfor %}
                            </div>
                        </li>
                        {% if role %}
                            <li>
                                <table class="uk-table uk-table-divider uk-table-small uk-width-1-1">
                                    <colgroup>
                                        <col width="50%">
                                        <col width="40%">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>Member</th>
                                        <th class="uk-text-right">Role</th>
                                    </tr>
                                    </thead>
                                    {% for req in company.invites.all %}
                                        <tr>
                                            <td>
                                                <a class="vr-link uk-text-meta"
                                                   href="{{ req.member.get_absolute_url }}">{% firstof req.member.full_name req.member.username %}</a>&emsp;
                                            </td>
                                            <td class="uk-text-right"><a class="vr-link uk-text-meta"
                                                                         href="#process{{ req.pk }}"
                                                                         data-uk-toggle>process</a></td>
                                        </tr>
                                    {% endfor %}
                                    {% for member in company.members %}
                                        {% if member == user %}
                                            <tr>
                                                <td class="uk-text-bold">You</td>
                                                <td class="uk-text-right">{{ role }}</td>

                                            </tr>
                                        {% else %}
                                            {% member_company_role member company as mem_role %}
                                            <tr>
                                                <td>
                                                    <a class="vr-link uk-text-meta"
                                                       href="{{ member.get_absolute_url }}">{% firstof member.full_name member.username %}</a>
                                                </td>
                                                <td class="uk-text-right">
                                                    {% if role == 'owner' %}
                                                        <form action="{% url 'change_company_member' %}" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="company_id"
                                                                   value="{{ company.id }}">
                                                            <input type="hidden" name="member_id"
                                                                   value="{{ member.id }}">
                                                            <select name="role">
                                                                <option {% if mem_role == 'collaborator' %}selected{% endif %}
                                                                        value="collaborator">collaborator
                                                                </option>
                                                                <option {% if mem_role == 'owner' %}selected{% endif %}
                                                                        value="owner">owner
                                                                </option>
                                                                <option {% if mem_role == 'member' %}selected{% endif %}
                                                                        value="member">member
                                                                </option>
                                                            </select>
                                                        </form>
                                                    {% else %}
                                                        {{ mem_role }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% if company.invites.exists %}
                {% for req in company.invites.all %}
                    <div id="process{{ req.pk }}" data-uk-modal>
                        <div class="uk-modal-dialog">
                            <button class="uk-modal-close-default" type="button" uk-close></button>
                            <div class="uk-modal-header">
                                <h2 class="uk-modal-title">Process member invitation</h2>
                            </div>
                            <form class="uk-form-horizontal" action="{% url 'process_member_add' %}" method="post">
                                <div class="uk-modal-body">
                                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor
                                        incididunt ut labore et dolore magna aliqua. </p>

                                    {% csrf_token %}
                                    <input type="hidden" name="req" value="{{ req.id }}">
                                    <div class="uk-margin">
                                        <label class="uk-form-label"
                                               for="id_role">{% firstof req.member.full_name|title req.member.username|title %}
                                            is a</label>
                                        <div class="uk-form-controls">
                                            <select name="role" id="role" class="uk-select">

                                                <option value="member">Member</option>
                                                <option value="admin">Admin</option>
                                                <option value="collaborator">Collaborator</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-modal-footer uk-text-right">
                                    <button class="uk-button uk-button-small uk-button-default uk-modal-close"
                                            type="button">Cancel
                                    </button>
                                    <button class="uk-button uk-button-small uk-button-primary" type="submit">Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}


            <div class="uk-width-1-4">
                <div class="vr-window white uk-padding-small">
                    <h5 class="uk-text-bold">Links</h5>
                    <ul>
                        <li>
                            Phone: {{ company.phone }}
                        </li>
                        <li>
                            <a class="vr-link uk-text-meta"
                               href="mailto:{{ company.email }}">{{ company.email }}</a>
                        </li>
                        <li>
                            <a class="vr-link uk-text-meta" target="_blank"
                               href="{{ company.site }}">{{ company.site }}</a>
                        </li>
                    </ul>
                </div>
                {% if role %}
                    <div class="vr-window white uk-padding-small">
                        <h5 class="uk-text-bold">Management</h5>
                        <table class="uk-table uk-table-small vr-small-table">
                            <tr>
                                <td>Balance</td>
                                <td class="uk-text-right">{{ company.contract_address|balance }}&nbsp;Vera</td>
                            </tr>
                            <tr>
                                <td>Fellow&nbsp;workers</td>
                                <td class="uk-text-right">{{ company.members|length }}</td>
                            </tr>
                            <tr>
                                <td>Vacancies</td>
                                <td class="uk-text-right">{{ company.vacancies.count }}</td>
                            </tr>
                        </table>
                        {% if role == 'owner' %}
                            <a class="uk-button uk-button-small uk-button-primary uk-align-right
                            uk-margin-remove-bottom"
                               href="{% url 'new_vacancy' %}">Post a job</a>
                            <div class="uk-clearfix"></div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script src="{% static 'js/company.js' %}"></script>
    {% if hints_enabled %}
        <script src="{% static 'js/hints/company_details_main.js' %}"></script>
    {% endif %}
{% endblock %}
