{% extends 'jobboard/base.html' %}

{% load static %}

{% block head_title %}Vera Platform - Employer companies{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="uk-container uk-align-center">
        <h4 class="uk-text-bold" data-hint="companies-main">Companies</h4>
        <div class="uk-margin-top-small uk-margin-large-bottom" data-uk-grid>
            <div class="uk-width-3-4">
                <div class="vr-window white">
                    <div class="uk-padding-small">
                        {% for company in company_list %}
                            {% include 'company/include/company_short.html' %}
                        {% empty %}
                            No companies yet.
                        {% endfor %}
                        <a data-hint="new-company" href="{% url 'new_company' %}"
                           class="uk-button uk-button-small uk-button-primary uk-align-right uk-margin-remove-bottom">
                            Add company
                        </a>
                    <div class="uk-clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4">
                <div class="vr-window white uk-padding-small">
                    <h4 class="uk-text-bold">
                        Companies desc
                    </h4>
                    <p>{% lorem %}</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% if hints_enabled %}
    {% block extra_js %}
        <script src="{% static 'js/hints/companies_main.js' %}"></script>
    {% endblock %}
{% endif %}
