{% extends 'jobboard/base.html' %}

{% load material_form static %}

{% block head_title %}Candidate - New Profile{% endblock %}

{% block content %}
    {{ form.media }}
    {{ block.super }}
    <div class="uk-container uk-align-center">
        <h4 class="uk-text-bold">Candidate profile</h4>
        <form class="uk-form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <button id="save" type="submit" class="uk-button uk-button-primary uk-button-small uk-align-right">Save</button>
        </form>
    </div>
{% endblock %}

{% if hinst_enabled %}
    {% block extra_js %}
        <script src="{% static 'js/hints/cp_new.js' %}"></script>
    {% endblock %}
{% endif %}
