{% extends 'jobboard/base.html' %}

{% load material_form i18n static %}

{% block head_title %}CurriculumVitae - New education{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="uk-container uk-align-center">
        <form class="uk-form-horizontal" action="{% url 'new_education' %}" method="post">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">
                    {% trans 'New education entry' %}
                </legend>
                {% csrf_token %}
                {% form form=form %}{% endform %}
                <button class="uk-button uk-button-primary uk-button-small uk-align-right">Save</button>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% if hints_enabled %}
    {% block extra_js %}
        <script src="{% static 'js/hints/new_education.js' %}"></script>
    {% endblock %}
{% endif %}
