.border {
    border: 1px solid red;
}

body {
    font-size: 13px;
    font-weight: 200;
}

.jHtml-textarea {
    border: 1px solid #e5e5e5;
    padding: 10px;
}


a.uk-button {
    text-transform: capitalize;
}

.uk-border {
    border: 1px solid #cacaca;
    border-radius: 3px;
}

