@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*:not(.fa) {
    font-family: 'Montserrat Regular', serif !important;
}

.border {
    border: 1px solid red;
}

body {
    font-size: 14px;
    font-weight: 400;
}

.jHtml-textarea {
    border: 1px solid #aad9fd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    background: white;
}

div.jHtmlArea .ToolBar {
    max-width: 100%;
}

a.uk-button {
    text-transform: capitalize;
}

.uk-border {
    border: 1px solid #cacaca;
    border-top: 2px solid #64B5F6;
}

.uk-alert-error {
    background: #fef4f6;
    color: #f0506e
}

.uk-alert-info {
    background: #64B5F6;
    color: white
}

.error {
    color: red;
}

.enjoyhint_next_btn, .enjoyhint_skip_btn {
    left: auto !important;
    top: auto !important;
    bottom: 25px !important;
    right: 25px !important;
    position: absolute;
    color: #76ff03;
    border: 2px solid #76ff03;
}

.enjoyhint_next_btn:hover, .enjoyhint_skip_btn:hover {
    background: #8bc34a;
}

.enjoyhint_close_btn {
    border: 2px solid #76ff03;
}

.enjoyhint_close_btn:hover {
    background: #8bc34a;
}

.hint-green {
    color: #76ff03 !important;
}

.pac-container {
    z-index: 2000;
}

.company:hover .delete-icon {
    opacity: 1;
}

.delete-icon {
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.border {
    border: 1px solid red;
}

.uk-input, .uk-select, .uk-textarea {
    border: 2px solid #bababa;
}

.toggle-icon {
    cursor: pointer;
}

.vr-link {
    text-decoration: underline;
}

.uk-dropdown {
    min-width: 165px;

}

.uk-navbar-dropdown {
    width: 165px;
    border-radius: 3px;
}

.uk-overlay-vera {
    background: rgba(34, 34, 34, .5);
}

.uk-card-primary.uk-card-body .uk-input::placeholder, .uk-card-primary > :not([class*="uk-card-media"]) .uk-input::placeholder, .uk-card-secondary.uk-card-body .uk-input::placeholder, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-input::placeholder, .uk-light .uk-input::placeholder, .uk-offcanvas-bar .uk-input::placeholder, .uk-overlay-primary .uk-input::placeholder, .uk-section-primary:not(.uk-preserve-color) .uk-input::placeholder, .uk-section-secondary:not(.uk-preserve-color) .uk-input::placeholder, .uk-tile-primary:not(.uk-preserve-color) .uk-input::placeholder, .uk-tile-secondary:not(.uk-preserve-color) .uk-input::placeholder {
    color: rgba(0, 0, 0, .5);
}

.content {
    background: #f6f6f6;
}

.vr-auth, .vr-window {
    border-radius: 3px;
}

.vr-desc {
    border-left: 1px solid #eee;
}

.uk-badge {
    background: #64B5F6;
}

.uk-input[type=text], .uk-input[type=password], .uk-input[type=number],
.uk-input[type=date], .uk-input[type=email], .uk-select, .uk-input[type=time], .uk-input[type=url] {
    border: 1px solid #aad9fd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.vr-chip-border {
    border: 1px solid #64b5f6;
    border-radius: 25px;
}

table.uk-table-divider tr:first-child {
    border-top: none;
}

.vr-bg {
    height: 175px;
    position: relative;
}

.bg-top_1, .bg-top_2 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.bg-top_1 {
    background: url(./../img/header-wave-1280.svg) no-repeat center bottom;
}

.bg-top_2 {
    background: url(./../img/header-wave-1280-blue.svg) no-repeat center bottom;
}

.vr-bg > .company > img {
    position: absolute;
    z-index: 3;
    height: 100px;
    width: 100px;
    left: 30px;
    top: 30px;
    border-radius: 50%;
}

.vr-bg > .company > h2 {
    position: absolute;
    z-index: 3;
    height: 100px;
    left: 160px;
    top: 10px;
    color: white;
}

.profile_main_left {
    transform: translateY(-100px);
    text-align: center;
}

.profile_main_left .image-wrapper {
    min-height: 142px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 lightgrey;
}

.company-item {
    display: grid;
    grid-template-columns: 10% auto;
    background: white;
}

.company > div {
    text-align: center;
}

.company-item > div.img > img {
    max-width: 100%;
}

.uk-form-icon:not(.uk-form-icon-flip) + .uk-select {
    padding-left: 40px;
}

.vr-small-table td, .vr-small-table th {
    padding: 10px 0;
}

.vr-dropdown {
    display: none;
    height: auto;
    position: absolute;
    z-index: 5;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 1px;
    box-shadow: -1px 1px 6px 0 lightgrey;
}

.vr-dropdown > span {
    padding: 5px 5px 5px 27px;
    display: block;
    background: white;
    position: relative;
    cursor: pointer;
}

.vr-dropdown > span > i {
    position: absolute;
    left: 4px;
    top: 5px;
}

.vr-dropdown > span:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.companies-list li {
    border-right: 3px solid blue;
    margin-bottom: 10px;
}

.companies-list > li:first-child {
    border-top-right-radius: 10px;
}

.companies-list > li:last-child {
    border-bottom-right-radius: 10px;
}
