{% load material_form material_form_internal %}
{% part bound_field.field %}
    <div class="uk-margin">
        <label class="uk-form-label" for="id_{{ bound_field.html_name }}">{{ bound_field.label }}</label>
        <div{% attrs bound_field 'group' %}
        {% endattrs %}
        class="uk-form-controls">
            {% part field prefix %}{% endpart %}{% part field control %}
                <textarea{% attrs bound_field 'widget' default field.widget.attrs %}
                    id="id_{{ bound_field.html_name }}"
                    name="{{ bound_field.html_name }}"
                    class="uk-textarea{% if bound_field.errors %} uk-form-danger{% endif %}"
                    placeholder="{{ bound_field.label }}"
                    {% if field.required %} required{% endif %}
                {% endattrs %}>{% if bound_field.value %}{{ bound_field.value }}{% endif %}</textarea>
            {% endpart %}

            {% part field help_text %}{% if field.help_text %}
                <div class="help-block">{{ bound_field.help_text|safe }}</div>
            {% endif %}
            {% endpart %}{% part field errors %}
                {% if bound_field.errors %}
                    {% include  'material/field_errors.html' %}
                {% endif %}
            {% endpart %}{{ hidden_initial }}
        </div>
    </div>{% endpart %}
