{% extends 'jobboard/base.html' %}

{% load i18n %}

{% block head_title %}Vera Platform - CVs{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="uk-container uk-align-center">
        <h4>All your CVs</h4>
        {% for cv in role_object.cvs.all %}
            {% include 'candidateprofile/include/cv.html' with show_stat=True %}
        {% endfor %}
        <a class="uk-button uk-button-primary uk-button-small uk-align-right"
           href="{% url 'new_cv' %}">{% trans 'Add new curriculum vitae' %}</a>
    </div>
{% endblock %}
