{% extends 'jobboard/base.html' %}

{% load material_form i18n static %}

{% block head_title %}Profile - New position{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="uk-container uk-align-center">
        <h4 class="uk-text-bold">{% trans 'Complete position' %}</h4>
        <form class="uk-form-horizontal" action="{% url 'new_position' %}" method="post">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <button type="submit" class="uk-button uk-button-small uk-button-primary uk-align-right">Agree</button>
        </form>
    </div>
{% endblock %}


{% if hints_enabled %}
    {% block extra_js %}
        <script src="{% static 'js/hints/new_position.js' %}"></script>
    {% endblock %}
{% endif %}

