{% load static jobboard_tags w3_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Vera Oracle{% endblock %}</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/css/uikit.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/jHtmlArea.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
<nav class="uk-navbar-container" uk-navbar uk-sticky>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="{% url 'index' %}">Vera Oracle</a>
        {% with request.user.id|user_role as role %}
            <ul class="uk-navbar-nav">
                <li>
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'find_job' %}">Vacancies</a>
                </li>
                {% if role == 'employer' %}
                    <li>
                        <a href="{% url 'find_cv' %}">CVs</a>
                    </li>
                    <li>
                        <a href="{% url 'new_vacancy' %}">Post a job</a>
                    </li>
                {% endif %}
                {% if role == 'candidate' %}
                    {% if not request.user.id|has_cv %}
                        <li>
                            <a href="{% url 'new_cv' %}">Post a CV</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'offers' %}">Feedback</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li>
                        <a href="#">Profile</a>
                        <div class="uk-navbar-dropdown" uk-dropdown="mode: click">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="{% url 'profile' %}">Profile</a></li>
                                {% if role == 'candidate' %}
                                    <li><a href="{% url 'cv_all' %}">All CV</a></li>
                                {% elif role == 'employer' %}
                                    <li><a href="{% url 'vacancy_all' %}">Vacancies</a></li>
                                {% endif %}
                                <li><a href="{% url 'transactions' %}">Transactions</a></li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'user_help' %}">Help</a>
                </li>
            </ul>
        {% endwith %}
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">

            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'account_logout' %}">Logout ({{ user }})</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'account_signup' %}">register</a>
                </li>
                <li>
                    <a href="{% url 'account_login' %}">login</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>
{% block content %}{% endblock %}
<div class="uk-container">
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            <h5>About Us</h5>
            <ul class="uk-list">
                <li><a class="uk-button uk-button-text" href="#">About Oracle</a></li>
                <li><a class="uk-button uk-button-text" href="#">Terms & Conditions</a></li>
                <li><a class="uk-button uk-button-text" href="#">International Partners</a></li>
                <li><a class="uk-button uk-button-text" href="#">Privacy Policy</a></li>
                <li><a class="uk-button uk-button-text" href="#">Feedback</a></li>
                <li><a class="uk-button uk-button-text" href="#">Contact Us</a></li>
            </ul>
        </div>
        <div>
            <h5>Job Seekers</h5>
            <ul class="uk-list">
                <li><a class="uk-button uk-button-text" href="#">Create Account</a></li>
                <li><a class="uk-button uk-button-text" href="#">Career Counseling</a></li>
                <li><a class="uk-button uk-button-text" href="#">My Bdjobs</a></li>
                <li><a class="uk-button uk-button-text" href="#">FAQ</a></li>
                <li><a class="uk-button uk-button-text" href="#">Video Guides</a></li>
            </ul>
        </div>
        <div>
            <h5>Employers</h5>
            <ul class="uk-list">
                <li><a class="uk-button uk-button-text" href="#">Create Account</a></li>
                <li><a class="uk-button uk-button-text" href="#">Products/Service</a></li>
                <li><a class="uk-button uk-button-text" href="#">Post a Job</a></li>
                <li><a class="uk-button uk-button-text" href="#">FAQ</a></li>
            </ul>
        </div>
        <div>
            <h5>Newsletter</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <form action="#">
                <input class="uk-input uk-form-small" type="email" name="email" id="email"
                       placeholder="Enter your email">
                <button type="submit" class="uk-button uk-button-primary uk-button-small uk-align-right uk-margin-top">
                    Sign Up
                </button>
            </form>
        </div>
    </div>
</div>

<div class="uk-container uk-align-center">
    Copyright © 2017 OnGrid.pro. All rights reserved.
</div>
</body>
<!-- UIkit JS -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit-icons.min.js"></script>
<script src="{% static 'js/jHtmlArea.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% block extra_js %}{% endblock %}
</html>

