{% extends 'jobboard/base.html' %}

{% load jobboard_tags %}

{% block head_title %}VeraOracle - Candidate{% endblock %}

{% block content %}
    <div class="container">
        <h4 class="center">About candidate</h4>
        <table class="bordered highlight">
            <tr>
                <td>Name:</td>
                <td>{{ candidate.first_name }}</td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td>{{ candidate.last_name }}</td>
            </tr>
            <tr>
                <td>Middle name:</td>
                <td>{{ candidate.middle_name }}</td>
            </tr>
            <tr>
                <td>Tax number:</td>
                <td>{{ candidate.tax_number }}</td>
            </tr>
            <tr>
                <td>Contract address:</td>
                <td>
                    {% if candidate.contract_address is not None %}
                        <a target="_blank"
                           href="https://rinkeby.etherscan.io/address/{{ candidate.contract_address }}">{{ candidate.contract_address }}</a>
                    {% else %}
                        Pending... <div uk-spinner="ratio:0.4"></div>
                    {% endif %}
                </td>
            </tr>
        </table>
    {{ candidate.cvs.all }}
        {% if candidate.contract_address %}
            {% get_facts candidate %}
        {% endif %}
        {% if vacancies %}
            <br><br><br>
            <table class="bordered highligth">
                <thead>
                <tr>
                    <th>Your vacancies, candidate subscribed to</th>
                    <th class="center">State</th>
                </tr>
                </thead>
                <tbody>
                {% for vacancy in vacancies %}
                    <tr>
                        <td><a href="{% url 'vacancy' pk=vacancy.id %}">{{ vacancy.address }}</a></td>
                        <td class="center
                            {% if vacancy.state == 'wait' %}
                            amber-text
                            {% elif vacancy.state == 'accepted' %}
                            green-text
                            {% elif vacancy.state == 'revoked' %}
                            red-text
                            {% endif %}">
                            {{ vacancy.state | capfirst }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
