{% extends 'jobboard/base.html' %}

{% load i18n static %}

{% block head_title %}Choose role{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="uk-container uk-text-center uk-margin-large-top">
        <h4 class="uk-text-bold blue-text text-lighten-1 uk-text-uppercase">{% trans "Choose role" %}</h4>
        <div class="uk-width-1-4 uk-align-center">
            <div class="white uk-padding-small uk-margin-large-bottom vr-auth">
                <div class="uk-text-danger">{{ form.non_field_errors }}</div>
                {% if error %}
                    <div class="uk-text-danger">{{ error }}</div>
                {% endif %}
                <form class="uk-text-left" method="POST" action="{% url 'choose_role' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">

                    <div data-hint="role-chooser" class="uk-margin uk-flex uk-flex-around uk-align-center">
                        <label><input class="uk-radio" type="radio" value="employer" name="role" checked>
                            Employer</label>
                        <label><input class="uk-radio" type="radio" value="candidate" name="role"> Candidate</label>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="first_name">First name</label>
                        <div class="uk-form-controls uk-margin-small-top">
                            <input name="first_name" class="uk-input" id="first_name" type="text" required/>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="last_name">Last name</label>
                        <div class="uk-form-controls uk-margin-small-top">
                            <input type="text" class="uk-input" name="last_name" id="last_name" required/>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label for="middle_name" class="uk-form-label">Middle name</label>
                        <div class="uk-form-controls uk-margin-small-top">
                            <input type="text" class="uk-input" name="middle_name" id="middle_name"/>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label for="tax_number" class="uk-form-label">Tax number</label>
                        <div class="uk-form-controls uk-margin-small-top">
                            <input type="text" class="uk-input" name="tax_number" id="tax_number" required/>
                        </div>
                    </div>
                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                        <label data-hint="personal-data">
                            <input class="uk-checkbox" type="checkbox" id="personal-data" required/>
                            I agree with processing of my personal data
                        </label>
                    </div>
                    <div class="uk-clearfix"></div>
                    <button data-hint="send-button" class="uk-button uk-button-small uk-button-primary uk-align-center uk-margin-remove-bottom uk-margin-small-top"
                            type="submit">{% trans "Next" %}</button>
                </form>
                <div class="uk-clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {% if hints_enabled %}
        <script src="{% static 'js/hints/choose_role.js' %}"></script>
    {% endif %}
{% endblock %}
