{% extends 'jobboard/base.html' %}

{% load jobboard_tags %}

{% block head_title %}VeraOracle - {{ employer.organization }}{% endblock %}

{% block content %}
    <div class="uk-container uk-align-center">
        <h2>Employer info</h2>
        <table class="uk-table uk-table-small uk-table-divider">
            <tr>
                <td>Organization:</td>
                <td>{{ employer.organization }}</td>
            </tr>
            <tr>
                <td>Tax number:</td>
                <td>{{ employer.tax_number }}</td>
            </tr>
            <tr>
                <td>Contract address:</td>
                <td class="uk-table-link">
                    {% if employer.contract_address is not None %}
                        <a class="uk-link-reset" target="_blank"
                           href="https://rinkeby.etherscan.io/address/{{ employer.contract_address }}">{{ employer.contract_address }}</a>
                    {% else %}
                        Pending...<i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
                    {% endif %}
                </td>
            </tr>
        </table>
        {% if vacancies %}
            <h3>Employer vacancies</h3>
            <table class="uk-table uk-table-small uk-table-divider">
                <thead>
                <tr>
                    <th>Vacancy title</th>
                    <th>Contract address</th>
                </tr>
                </thead>
                <tbody>
                {% for vacancy in vacancies %}
                    {% with vacancy.id|is_enabled_vacancy as is_enabled %}
                        <tr>
                            <td class="uk-table-link"><a class="uk-link-reset" href="{% url 'vacancy' vacancy_id=vacancy.id %}">{{ vacancy.title }}</a></td>
                            <td>{{ vacancy.contract_address|default:'Pending...<i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>' }}
                                {% if not is_enabled %}
                                    <span class="badge">disabled</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                </tbody>

            </table>
        {% endif %}
    </div>
{% endblock %}