{% extends 'jobboard/base.html' %}
{% block head_title %}VeraOracle - Find a job{% endblock %}
{% load jobboard_tags vacancy_tags %}
{% block content %}
    <h4 class="center">Find a dream job!</h4>
    <div class="row">
        <div class="col s12 m12 l10 push-l1">
            <div class="row">
                <div class="col s2 m2 l2">
                    <ul class="collapsible" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header active">Industry</div>
                            <div class="collapsible-body">
                                <div id="industry">
                                    {% if selected_spec %}
                                        <div class="selected">{{ selected_spec }}<span class="right"><a
                                                href="{{ request.GET|get_clear_url:selected_spec }}"><i
                                                class="fa fa-close"
                                                area-hidden="true"></i></a></span>
                                        </div>
                                    {% else %}
                                        <ul>
                                            {% for item in specializations %}
                                                <li class="spec-item active"><a class="grey-text text-darken-1"
                                                                                href="{{ request.GET|get_filter_url:item }}">{{ item }}</a>
                                                    <span class="right grey-text text-darken-1">{% get_jobs_with item.id 'spec' vacancies_all %}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                        {% if selected_spec and specializations %}
                            <li>
                                <div class="collapsible-header active">Specialisation</div>
                                <div class="collapsible-body">
                                    <div id="specialisation">
                                        <ul>
                                            {% for item in specializations %}
                                                <li class="spec-item active"><a class="grey-text text-darken-1"
                                                                                href="{{ request.GET|get_filter_url:item }}">{{ item }}</a>
                                                    <span class="right grey-text text-darken-1">{% get_jobs_with item.id 'spec' vacancies_all %}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% endif %}

                        <li>
                            <div class="collapsible-header active">Keywords</div>
                            <div class="collapsible-body">
                                <div id="keyword">
                                    {% if selected_keyword %}
                                        <div class="selected">{{ selected_keyword }}
                                            <span class="right">
                                    <a href="{{ request.GET|get_clear_url:selected_keyword }}"><i class="fa fa-close"
                                                                                                  area-hidden="true"></i></a></span>
                                        </div>
                                    {% else %}
                                        <ul>
                                            {% for item in keywords %}
                                                <li class="spec-item active"><a class="grey-text text-darken-1"
                                                                                href="{{ request.GET|get_filter_url:item }}">{{ item }}</a>
                                                    <span class="right grey-text text-darken-1">{% get_jobs_with item.id 'keyword' vacancies_all %}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header active">Salary</div>
                            <div class="collapsible-body">
                                <div id="salary">
                                    {% if selected_salary %}
                                        <div class="selected">{{ selected_salary }} $
                                            <span class="right">
                                    <a href="{{ request.GET|get_clear_url:'salary' }}"><i class="fa fa-close"
                                                                                          area-hidden="true"></i></a></span>
                                        </div>
                                    {% else %}
                                        <ul>
                                            {% for item in salary_range %}
                                                <li class="spec-item active"><a class="grey-text text-darken-1"
                                                                                href="{{ request.GET|get_salary_url:item }}">from {{ item }}
                                                    $</a>
                                                    <span class="right grey-text text-darken-1">{% get_jobs_with item 'salary' vacancies_all %}</span>
                                                </li>
                                            {% endfor %}
                                            <li class="spec-item active"><a class="grey-text text-darken-1"
                                                                            href="{{ request.GET|get_salary_url:8000 }}">from
                                                8000 $</a>
                                                <span class="right grey-text text-darken-1">{% get_jobs_with 8000 'salary' vacancies_all %}</span>
                                            </li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header{% if selected_busyness %} active{% endif %}">Busyness
                            </div>
                            <div class="collapsible-body">
                                <div id="busyness">
                                    {% if selected_busyness %}
                                        <div class="selected">{{ selected_busyness }}
                                            <span class="right">
                                    <a href="{{ request.GET|get_clear_url:'busyness' }}"><i class="fa fa-close"
                                                                                            area-hidden="true"></i></a></span>
                                        </div>
                                    {% else %}
                                        <ul>
                                            {% for item in busyness %}
                                                <li class="spec-item active"><a class="grey-text text-darken-1"
                                                                                href="{{ request.GET|get_filter_url:item }}">{{ item }}</a>
                                                    <span class="right grey-text text-darken-1">{% get_jobs_with item.id 'busyness' vacancies_all %}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header{% if selected_schedule %} active{% endif %}">Schedule
                            </div>
                            <div class="collapsible-body">
                                <div id="schedule">
                                    {% if selected_schedule %}
                                        <div class="selected">{{ selected_schedule }}
                                            <span class="right">
                                    <a href="{{ request.GET|get_clear_url:'schedule' }}"><i class="fa fa-close"
                                                                                            area-hidden="true"></i></a></span>
                                        </div>
                                    {% else %}
                                        <ul>
                                            {% for item in schedule %}
                                                <li class="spec-item active"><a class="grey-text text-darken-1"
                                                                                href="{{ request.GET|get_filter_url:item }}">{{ item }}</a>
                                                    <span class="right grey-text text-darken-1">{% get_jobs_with item 'schedule' vacancies_all %}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s10 l10 m10">
                    <div class="row">
                        <div class="col s12 m12 l12 z-depth-1" style="padding: 5px">
                            <a class='dropdown-button btn' href='#'
                               data-activates='period_select'>{{ selected_period.title }}</a>

                            <ul id='period_select' class='dropdown-content'>
                                {% for item in periods %}
                                    <li><a href="{{ request.GET|get_custom_url:item }}">{{ item.title }}</a></li>
                                {% endfor %}
                            </ul>

                            <a href="#" class="dropdown-button btn"
                               data-activates="sort_select">{{ selected_sort.title }}</a>

                            <ul id="sort_select" class="dropdown-content">
                                {% for item in sorts %}
                                    <li><a href="{{ request.GET|get_custom_url:item }}">{{ item.title }}</a></li>
                                {% endfor %}
                            </ul>
                            <a href="{% url 'find_job' %}"><i class="material-icons right">close</i></a>
                        </div>
                    </div>
                    {% for vacancy in vacancies %}
                        <div>
                            <h5>
                                <a href="{% url 'vacancy' vacancy_id=vacancy.id %}">{{ vacancy.title }}</a>
                                <span class="right">
                                    {% if vacancy.salary_from %}
                                        {% if vacancy.salary_up_to %}
                                            {{ vacancy.salary_from }}-{{ vacancy.salary_up_to }} $
                                        {% else %}
                                            from {{ vacancy.salary_from }} $
                                        {% endif %}
                                    {% else %}
                                        By agreement
                                    {% endif %}
                                </span>
                            </h5>
                        </div>
                        <div>
                            <span class="grey-text">
                                {% if vacancy.city %}
                                    {{ vacancy.city|title }},
                                {% endif %}
                                {% if vacancy.contract_address %}
                                    {{ vacancy.id|get_interview_fee }} Vera
                                {% else %}
                                    <i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
                                {% endif %}
                            </span>
                        </div>
                        <div class="grey-text">{{ vacancy.description|safe|truncatewords:30 }}</div>
                        <div>
                            <a href="{% url 'vacancy' vacancy_id=vacancy.id %}">Learn more</a>
                            <div class="grey-text right">{{ vacancy.created_at|date:'d M Y' }}</div>
                        </div>

                        <div class="clearfix"></div>
                        <hr/>

                    {% empty %}
                        <h6 class="center">Vacancies by conditions not found</h6>
                    {% endfor %}
                    {% if vacancies.has_other_pages %}
                        {% include 'jobboard/include/paginator.html' with paginate=vacancies get_list=request.GET %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


