{% extends 'jobboard/base.html' %}

{% load jobboard_tags vacancy_tags material_form %}

{% block head_title %}Vera Oracle - Find CV{% endblock %}

{% block content %}
    <div class="uk-container uk-align-center">
        <h3>Find an employee for your tasks!</h3>
        <div uk-grid>
            <div class="uk-width-1-5">
                <div class="uk-box-shadow-small uk-padding-small grey lighten-4">
                    {% get_filter %}
                </div>
            </div>
            <div class="uk-width-4-5">
                <div class="uk-box-shadow-small uk-padding-small grey lighten-4 uk-margin-bottom">
                    <div uk-grid>
                        <div class="uk-width-expand">
                            <button class="uk-button uk-button-primary" type="button">{{ selected_sort.title }}</button>
                            <div uk-dropdown="mode: click">
                                <ul id="sort_select" class="uk-nav uk-dropdown-nav">
                                    {% for item in sorts %}
                                        <li><a href="{{ request.GET|get_custom_url:item }}">{{ item.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="uk-width-auto uk-inline">
                            <div class="uk-position-center-right">
                                <a class="" href="{% url 'find_cv' %}" uk-close></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    {% for cv in cvs %}
                        {% include 'cv/include/cv.html' with candidate_info=True %}
                    {% empty %}
                        <h6 class="center">CVs by conditions not found</h6>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}