{% extends 'jobboard/base.html' %}
{% block head_title %}VeraOracle - Find a job{% endblock %}
{% load jobboard_tags vacancy_tags %}
{% block content %}
    <div class="uk-container uk-align-center">
        <h3>Find a dream job!</h3>
        <div uk-grid>
            <div class="uk-width-1-5">
                <div class="uk-box-shadow-small uk-padding-small grey lighten-4">
                    {% get_filter %}
                </div>
            </div>
            <div class="uk-width-4-5">
                <div class="uk-box-shadow-small uk-padding-small grey lighten-4">
                    <div uk-grid>
                        <div class="uk-width-expand">
                            <button class="uk-button uk-button-primary" type="button">{{ selected_sort.title }}</button>
                            <div uk-dropdown="mode: click">
                                <ul id="sort_select" class="uk-nav uk-dropdown-nav">
                                    {% for item in sorts %}
                                        <li><a href="{{ request.GET|get_custom_url:item }}">{{ item.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="uk-width-auto uk-inline">
                            <div class="uk-position-center-right">
                                <a class="" href="{% url 'find_job' %}" uk-close></a>
                            </div>
                        </div>
                    </div>
                </div>

                {% for vacancy in vacancies %}
                    <div class="uk-box-shadow-small uk-padding-small uk-margin-top">
                        <p class="text-lead">
                            <a class="uk-button uk-button-text uk-text-uppercase uk-text-bold"
                               href="{% url 'vacancy' vacancy_id=vacancy.id %}">{{ vacancy.title }}</a>
                            <span class="grey-text uk-align-right">
                            {% if vacancy.salary_from %}
                                {% if vacancy.salary_up_to %}
                                    {{ vacancy.salary_from }}-{{ vacancy.salary_up_to }} $
                                {% else %}
                                    from {{ vacancy.salary_from }} $
                                {% endif %}
                            {% else %}
                                By agreement
                            {% endif %}
                        </span>
                        </p>
                        <div>
                            <span class="grey-text">
                                {% if vacancy.city %}
                                    {{ vacancy.city|title }},
                                {% endif %}
                                {% if vacancy.contract_address %}
                                    {{ vacancy.id|get_interview_fee }} Vera
                                {% else %}
                                    <i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
                                {% endif %}
                            </span>
                        </div>
                        <div class="grey-text">{{ vacancy.description|safe|truncatewords:10 }}</div>
                        <div>
                            <a class="uk-button uk-button-text uk-text-lowercase"
                               href="{% url 'vacancy' vacancy_id=vacancy.id %}">Learn more</a>
                            <div class="grey-text uk-align-right">{{ vacancy.created_at|date:'d M Y' }}</div>
                        </div>
                    </div>
                {% empty %}
                    <h6 class="center">Vacancies by conditions not found</h6>
                {% endfor %}
                {% if vacancies.has_other_pages %}
                    {% include 'jobboard/include/paginator.html' with paginate=vacancies get_list=request.GET %}
                {% endif %}
            </div>
        </div>
    </div>



{% endblock %}


