{% extends 'jobboard/base.html' %}

{% load static %}

{% block content %}
    {{ block.super }}
    <div class="uk-position-relative uk-visible-toggle"
         data-uk-slideshow="animation: scale; min-height: 400; max-height:500">
        <ul class="uk-slideshow-items">
            <li>
                <img src="{% static 'img/logo.jpg' %}" data-uk-cover>
                <div class="uk-overlay-vera uk-position-cover"></div>
                <div class="uk-overlay uk-position-center uk-light">
                    <div class="uk-width-1-2 uk-align-center uk-text-center">
                        <h2 class="uk-margin-remove uk-text-bold">Easiest Way To Find Your Dream Job</h2>
                        <p>It is a long established fact that a reader will be
                            distracted by the readable content of a page when looking at its layout.
                            The point of using.</p>

                        <div data-uk-grid>
                            <div class="uk-width-expand">
                                <div class="uk-margin">
                                    <input class="uk-input white black-text" type="text" placeholder="Search for a vacancy">
                                </div>
                            </div>
                            <div class="uk-width-auto">
                                <button class="uk-button uk-button-default blue white-text">Find a job</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}


{% block extra_js %}
    {% if not user.is_authenticated %}
        <script src="{% static 'js/hints/index_unauth.js' %}"></script>
    {% else %}
        {% if role == 'candidate' %}
            <script src="{% static 'js/hints/index_candidate.js' %}"></script>
        {% elif role == 'employer' %}
            {#            # TODO pass#}
        {% elif role is None %}
            <script src="{% static 'js/hints/index_choose_role.js' %}"></script>
        {% endif %}
    {% endif %}
{% endblock %}
