{% extends 'jobboard/base.html' %}
{% block content %}
    <div class="uk-position-relative uk-visible-toggle" uk-slideshow="animation: scale; min-height: 300; max-height:400; autoplay: true">

        <ul class="uk-slideshow-items">
            <li>
                <img src="http://demo.minimalthemes.net/jobboard-static/images/upload/dummy-slide-1.jpg" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                    <h3 class="uk-margin-remove">Easiest Way To Find Your Dream Job</h3>
                    <p class="uk-margin-remove">It is a long established fact that a reader will be
                        distracted by the readable content of a page when looking at its layout. The point of
                        using.</p>
                    <a href="{% url 'find_job' %}" class="uk-button uk-button-text">Find a job</a>
                </div>
            </li>
            <li>
                <img src="http://demo.minimalthemes.net/jobboard-static/images/upload/dummy-slide-2.jpg" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                    <h4 class="uk-margin-remove">Hire Skilled People, best of them</h4>
                    <p class="uk-margin-remove">It is a long established fact that a reader will be
                        distracted by the readable content of a page when looking at its layout. The point of
                        using.</p>
                    <a href="{% url 'new_vacancy' %}" class="uk-button uk-button-text">Post a job</a>
                </div>
            </li>
        </ul>
        <div class="uk-light">
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
               uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
               uk-slideshow-item="next"></a>
        </div>
    </div>
{% endblock %}