{% extends 'jobboard/base.html' %}

{% load jobboard_tags %}

{% block head_title %} VeraOracle - New Vacancy {% endblock %}

{% block content %}
    {% if error %}
        <div class="container">
            <br><br><br><br>
            <h4 class="center">Candidate cannot place a vacancy.</h4>
            <br><br><br><br><br><br>
        </div>
    {% else %}
        <div class="row">
            <div class="col s12 m6 l6 offset-m3 offset-l3">
                {% if employer.contract_address %}
                    <h4 class="center">New Vacancy</h4>
                    <form action="{% url 'new_vacancy' %}" method="post">
                        {% csrf_token %}
                        <div class="input-field">
                            <label for="title">Vacancy title</label>
                            <input type="text" name="title" id="title" data-length="120" required>
                        </div>
                        <div class="input-field">
                            <label for="interview_fee">Vacancy interview fee, {{ employer.id|get_coin_symbol }}</label>
                            <input type="number" step="1" name="interview_fee" id="interview_fee" data-length="30"
                                   required>
                        </div>
                        <div class="input-field">
                            <label for="allowed_amount">Vacancy allowed amount</label>
                            <input type="number" step="1" name="allowed_amount" id="allowed_amount" data-length="30"
                                   required>
                        </div>
                        <div class="input-field">
                            <label for="salary_from">Salary from, $</label>
                            <input type="number" step="1" name="salary_from" id="salary_from" data-length="10">
                        </div>
                        <div class="input-field">
                            <label for="salary_to">Salary up to, $</label>
                            <input type="number" step="1" name="salary_to" id="salary_to" data-length="10">
                        </div>
                        <div class="input-field">
                            <select multiple name="specialisation" id="specialisation">
                                <option value="" disabled selected>Choose specialisations</option>
                                {% for item in specializations %}
                                    <option value="{{ item.id }}">{{ item.title }}</option>
                                {% endfor %}
                            </select>
                            <label for="specialisation">Specialisation</label>
                        </div>
                        <div class="input-field">
                            <select multiple name="keywords" id="keywords">
                                <option value="" disabled selected>Choose keywords</option>
                                {% for item in keywords %}
                                    <option value="{{ item.id }}">{{ item.word }}</option>
                                {% endfor %}
                            </select>
                            <label for="keywords">Keywords</label>
                        </div>
                        <button class="btn waves-effect waves-light blue right">Continue</button>
                        <div class="clearfix"></div>
                    </form>
                {% else %}
                    {% include 'jobboard/include/contract_not_ready_yet.html' %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}