{% extends 'jobboard/base.html' %}

{% load jobboard_tags %}

{% block head_title %} VeraOracle - New Vacancy {% endblock %}

{% block content %}
    <div class="uk-container uk-align-center">
        {% if employer.contract_address %}

            <form action="{% url 'new_vacancy' %}" method="post">
                {% csrf_token %}
                <formset class="uk-formset">
                    <legend class="uk-legend">
                        New Vacancy
                    </legend>
                    {% if error %}
                        <div class="center uk-alert-danger">{{ error }}</div>
                    {% endif %}
                    <div class="uk-margin">
                        <input class="uk-input" type="text" name="title" id="title" data-length="120" required
                               placeholder="Vacancy title">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="number" step="1" name="interview_fee" id="interview_fee"
                               data-length="30"
                               required placeholder="Vacancy interview fee, {{ employer.id|get_coin_symbol }}">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="number" step="1" name="allowed_amount" id="allowed_amount"
                               data-length="30"
                               required placeholder="Allowed amount">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="number" step="1" name="salary_from" id="salary_from"
                               data-length="10" placeholder="Salary from, $">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="number" step="1" name="salary_to" id="salary_to" data-length="10"
                               placeholder="Salary up to, $">
                    </div>
                    <div class="uk-margin">
                        <select multiple name="specialisation" id="specialisation" class="uk-select">
                            <option value="" disabled selected>Choose specialisations</option>
                            {% for item in specializations %}
                                <option value="{{ item.id }}">{{ item.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="uk-margin">
                        <select multiple name="keywords" id="keywords" class="uk-select">
                            <option value="" disabled selected>Choose keywords</option>
                            {% for item in keywords %}
                                <option value="{{ item.id }}">{{ item.word }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="uk-button uk-button-primary uk-align-right">Save</button>
                </formset>
            </form>
        {% else %}
            {% include 'jobboard/include/contract_not_ready_yet.html' %}
        {% endif %}
    </div>
{% endblock %}