{% extends 'jobboard/base.html' %}
{% load jobboard_tags w3_tags %}
{% block head_title %}VeraOracle - Profile {% endblock %}

{% block content %}
    <div class="uk-container uk-align-center">
        <h2>{{ request.role|title }} profile</h2>
        {% with request.role_object.enabled as en %}
            <div class="uk-align-right">
                {% if en != None %}
                    <a class="uk-button-text uk-button uk-text-capitalize"
                       href="{% url 'change_contract_status' %}">
                        {% if en is True %}
                            Disable contract
                        {% elif en is False %}
                            Enable contract
                        {% endif %}
                    </a>
                {% else %}
                    <div uk-spinner="ratio: 0.7"></div>
                {% endif %}
            </div>
        {% endwith %}
        {% if request.role == 'candidate' %}
            {% include 'jobboard/include/candidate_profile.html' %}
        {% elif request.role == 'employer' %}
            {% include 'jobboard/include/employer_profile.html' %}
        {% endif %}
    </div>
{% endblock %}
