{% extends 'jobboard/base.html' %}

{% load jobboard_tags %}

{% block head_title %}Vera Oracle - User transactions{% endblock %}

{% block content %}
    <div class="container">
        <h4 class="center">Your transactions</h4>
        <table class="table bordered highlight">
            <thead>
            <tr>
                <th>Tx hash</th>
                <th>Action</th>
                <th class="right">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for txn in txns %}
                <tr>
                    <td><a target="_blank" href="{{ net_url }}tx/{{ txn.hash }}">{{ txn.hash|truncatechars:30 }}</a>
                    </td>
                    <td>{{ txn.action|parse_addresses|safe }}</td>
                    <td class="right">{{ txn.created_at|date:'d E Y, H:i:s, e' }}</td>
                </tr>
            {% empty %}
                <tr>
                <td colspan="3">
                    There is no transactions yet.
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}