{% extends 'jobboard/base.html' %}

{% block head_title %}VeraOracle - Help{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m10 l10 push-l1 push-m1">
            <h2 class="center">Инструкция</h2>
            <h4>1. Регистрация в Rinkeby Testnet</h4>
            <blockquote>
                Зайдите на <a href="https://www.ethereum.org/">ethereum.org</a>
                Скачайте актуальную версию приложения Ethereum Wallet.
                При установке необходимо выбрать сеть Rinkeby Testnet.
                Дождаться окончания синхронизации (может занять от нескольких минут до нескольких часов в зависимости от
                интернет соеденения).
                По окончании запустите приложение и создайте новый Account (если вы его еще не создали). Указать нужно
                только
                пароль.
            </blockquote>
            <h4>2. Получение Эфира</h4>
            <blockquote>
                Для того чтобы пополнить свой счет необходимо разместить адрес вашего аккаунта и запостить на одном из
                сервисов:
                <ul class="browser-default">
                    <li>Twitter</li>
                    <li>Facebook</li>
                    <li>Google+</li>
                </ul>
                Пост должен быть публичный и доступен для просмотра всем. Пример:
                <a target="_blank" href="https://plus.google.com/104143092173669955154/posts/bkAkrmtukQ5">https://plus.google.com/104143092173669955154/posts/bkAkrmtukQ5</a>
                Далее идем на сайт <a target="_blank" href="https://www.rinkeby.io/">rinkeby.io/</a>
                Заходим в раздел Crypto Faucet.
                Введите в поле ввода ссылку на ваш пост и выберите сколько эфира желаете получить.
                Счет должен пополнится в течении нескольких секунд.
            </blockquote>
            <h4>3. Покупка VeraCoin</h4>
            <blockquote>
                В приложени Ethereum Wallet зайдите во вкладку Send.
                В поле To введите адрес:
                <b>0x9AF242B715F818eEb4E485CAe925e1FCF696c696</b><br>
                В поле AMOUNT введите количество эфира которое желаете потратить на покупку VeraCoin. Текущая стоимость
                VeraCoin: 250 токенов за 1 ETH.
                В поле SELECT FEE можете выбрать стоимость транзакции. Не рекомендуется указывать нулевую стоимость,
                т.к. в
                этом случае транзакция будет иметь низший приоритет и может занять длительное время.
                Теперь идем во вкладку CONTRACTS и нажимаем кнопку WATCH TOCKEN
                В поле CONTRACT ADDRESS вводим адрес контракта:
                <b>0xcae393a1892dc3aaf4c19a0f76ccbd8ae5bbe482</b>
                И нажать OK, после чего появится поле с суммой начисленных на ваш счет VeraCoin.
            </blockquote>
            <h4>4. Регистрация соискателя/работодателя</h4>
            <blockquote>
                После регистрации на сайте необходимо зайти в PROFILE и выбрать свою “роль”: Employer - Работодатель или
                Candidate - Соискатель. <br>
                Если вы зарегистрировали себя как работодателя, то перед созданием вакансии вам необходимо пополнить
                счет
                вашего контракта. Номер контракта и баланс всегда будут отображаться в разделе PROFILE.
                Чтобы создать вакансию нужно сперва пополнить счет. Для этого зайдите в Ethereum Wallet в закладку SEND
                Введите в поле To номер вашего контракта, а в поле AMOUNT желаемое количество VeraCoin. Убедитесь что вы
                выбрали именно VeraCoin, а не эфир. Вскоре после отправки ваш баланс пополнится и вы сможете создать
                вакансию в разделе POST A JOB.
                <br>
                Если вы соискатель, то вам так же будет создан адрес контракта. Но для просмотра вакансий вам нет
                необходимости приобретать валюту. Пользование сайтом для вас бесплатно.
            </blockquote>
        </div>
    </div>
{% endblock %}