{% extends 'jobboard/base.html' %}

{% load jobboard_tags %}

{% block head_title %}VeraOracle - Vacancy{% endblock %}

{% block content %}
    <div class="uk-container uk-align-center">
        <h2>Vacancy #{{ vacancy.id }}</h2>
        <table class="uk-table uk-table-small uk-table-divider">
            {% with vacancy.employer.id|get_coin_symbol as symbol %}
                <tr>
                    <td>Employer:</td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset"
                           href="{% url 'employer_about' employer_id=vacancy.employer.id %}">{{ vacancy.employer.organization }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Title:</td>
                    <td>{{ vacancy.title }}</td>
                </tr>
                <tr>
                    <td>Contract address:</td>
                    <td>
                        {% if vacancy.contract_address is not None %}
                            <a class="uk-link-reset" target="_blank"
                               href="https://rinkeby.etherscan.io/address/{{ vacancy.contract_address }}">{{ vacancy.contract_address }}</a>
                        {% else %}
                             <div uk-spinner="ratio: 0.7"></div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Interview fee:</td>
                    <td>{% if vacancy.contract_address %}
                        {{ vacancy.id|get_interview_fee }} {{ symbol }}
                    {% else %}
                        <div uk-spinner="ratio: 0.7"></div>
                    {% endif %}</td>
                </tr>
                <tr>
                    <td>Salary:</td>
                    <td>{{ vacancy.salary_from }}-{{ vacancy.salary_up_to }}$</td>
                </tr>
                {% if vacancy.employer.user == request.user and vacancy.contract_address %}
                    <tr>
                        <td>Allowance:</td>
                        <td>{{ vacancy.id | allowance_rest }} {{ symbol }}</td>
                    </tr>
                {% endif %}
            {% endwith %}
        </table>
        <br>
        {% for item in vacancy.specializations.all %}
{#            <div class="chip blue white-text">{{ item }}</div>#}
            <div class="uk-inline uk-label uk-background-">{{ item }}</div>
        {% endfor %}
        {% for item in vacancy.keywords.all %}
            <div class="chip amber white-text">{{ item }}</div>
        {% endfor %}
        <br>
        {% if vacancy.employer.user == request.user %}

            <a href="{% url 'vacancy_tests' vacancy_id=vacancy.id %}"
               class="uk-button uk-button-primary uk-align-right uk-button-small">Tests</a>

            <div class="clearfix"></div>
            {% if vacancy.contract_address %}
                {% get_candidates vacancy.id %}
            {% endif %}
        {% endif %}
        <br>
        {% if role == 'candidate' and vacancy.contract_address and cv %}
            {% with obj|is_can_subscribe:vacancy as can_subscribe %}
                <a href="#subscribe" {% if not can_subscribe %}disabled{% endif %}
                   class="btn waves-light waves-effect blue right modal-trigger">Subscribe to
                    interview</a>
                <div id="subscribe" class="modal modal-fixed-footer">
                    <form action="{% url 'subscrabe_to_vacancy' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="vacancy" value="{{ vacancy.id }}">
                        <div class="modal-content">
                            <h4>Choose cv for vacancy "{{ vacancy.title }}"</h4>
                            {% include 'jobboard/include/cv.html' with selectable=True can_sub=can_subscribe %}
                        </div>
                        <div class="modal-footer">
                            <a class="waves-effect waves-light btn-flat" href="{% url 'new_cv' %}">Add new
                                curriculum vitae</a>
                        </div>
                    </form>
                </div>
            {% endwith %}
        {% endif %}
    </div>
{% endblock %}