{% load pipeline_tags %}
{% with cvs|get_item:item.id|length as cvs_on_action %}
    <div{% if not item_checked %}
        uk-tooltip="The action has nothing to do with anything"{% endif %}
        class="uk-inline action{% if not item_checked %} no-action{% endif %}">
        {% if cvs_on_action > 0 and item.approvable %}
            <div class="overlay pulse pulse-amber"></div>
        {% endif %}

        <span class="uk-position-center">
            <a class="uk-link-reset" href="#offcanvas-push{{ item.id }}" uk-toggle>{{ item.title }}</a>
            <div class="action-badge">
            {% if cvs_on_action > 0 %}
                <span class="green">{{ cvs_on_action }}&nbsp;Cv{{ cvs_on_action|pluralize }}</span>
            {% endif %}
        </div>
    </span>
    </div>

{% endwith %}
