{% load pipeline_tags %}
{% if cvs %}
    {% for cv in cvs %}
        {% next_action_condition vacancy.pipeline cv %}
        <div uk-grid>
            <div class="{% if pipeline|length > 5 %}uk-width-5-6{% else %}uk-align-center{% endif %}">
                {% with pipeline|resort_pipeline as actions %}
                    <div class="uk-flex uk-flex-center uk-flex-right actions">
                        {% for item in actions.0 %}
                            {% include 'pipeline/candidate_action.html' with current=cv.current_action.id %}
                        {% endfor %}
                    </div>
                    <div style="padding-top: 60px" class="uk-flex uk-flex-center uk-flex-right actions">
                        {% for item in actions.1 %}
                            {% include 'pipeline/candidate_action.html' with current=cv.current_action.id %}
                        {% endfor %}
                    </div>
                {% endwith %}
            </div>
            {% if pipeline|length > 5 %}
                <div class="uk-width-1-6 uk-padding-remove-left" style="padding-top: 37px">
                    <div class="transference"></div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    {% if pipeline %}
        <div uk-grid>
            <div class="{% if pipeline|length > 5 %}uk-width-5-6{% else %}uk-align-center{% endif %}">
                {% with pipeline|resort_pipeline as actions %}
                    <div class="uk-flex uk-flex-center uk-flex-right actions">
                        {% for item in actions.0 %}
                            {% include 'pipeline/candidate_action.html' %}
                        {% endfor %}
                    </div>
                    <div style="padding-top: 60px" class="uk-flex uk-flex-center uk-flex-right actions">
                        {% for item in actions.1 %}
                            {% include 'pipeline/candidate_action.html' %}
                        {% endfor %}
                    </div>
                {% endwith %}
            </div>
            {% if pipeline|length > 5 %}
                <div class="uk-width-1-6 uk-padding-remove-left" style="padding-top: 37px">
                    <div class="transference"></div>
                </div>
            {% endif %}
        </div>

        {% if vacancy.published and vacancy.enabled %}
            <a href="{% url 'subscribe_to_vacancy' vacancy_id=vacancy.id cv_id=candidate.profile.id %}"
               class="uk-button uk-button-small uk-button-primary uk-align-right" uk-toggle>Subscribe</a>
        {% endif %}
    {% endif %}
{% endif %}
