{% load pipeline_tags %}
{% if cvs %}
    {% for cv in cvs %}
        {% next_action_condition vacancy.pipeline cv %}
        <div uk-grid>
            <div class="{% if pipeline|length > 5 %}uk-width-5-6{% else %}uk-align-center{% endif %}">
                {% with pipeline|resort_pipeline as actions %}
                    <div class="uk-flex uk-flex-center uk-flex-right actions">
                        {% for item in actions.0 %}
                            {% include 'pipeline/candidate_action.html' with current=cv.current_action.id %}
                        {% endfor %}
                    </div>
                    <div style="padding-top: 60px" class="uk-flex uk-flex-center uk-flex-right actions">
                        {% for item in actions.1 %}
                            {% include 'pipeline/candidate_action.html' with current=cv.current_action.id %}
                        {% endfor %}
                    </div>
                {% endwith %}
            </div>
            {% if pipeline|length > 5 %}
                <div class="uk-width-1-6 uk-padding-remove-left" style="padding-top: 37px">
                    <div class="transference"></div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    {% if pipeline %}
        <div uk-grid>
            <div class="{% if pipeline|length > 5 %}uk-width-5-6{% else %}uk-align-center{% endif %}">
                {% with pipeline|resort_pipeline as actions %}
                    <div class="uk-flex uk-flex-center uk-flex-right actions">
                        {% for item in actions.0 %}
                            {% include 'pipeline/candidate_action.html' %}
                        {% endfor %}
                    </div>
                    <div style="padding-top: 60px" class="uk-flex uk-flex-center uk-flex-right actions">
                        {% for item in actions.1 %}
                            {% include 'pipeline/candidate_action.html' %}
                        {% endfor %}
                    </div>
                {% endwith %}
            </div>
            {% if pipeline|length > 5 %}
                <div class="uk-width-1-6 uk-padding-remove-left" style="padding-top: 37px">
                    <div class="transference"></div>
                </div>
            {% endif %}
        </div>

        {% if vacancy.published and vacancy.enabled %}
            <a href="#subscribe-modal" class="uk-button uk-button-small uk-button-primary uk-align-right" uk-toggle>Subscribe</a>

            <div id="subscribe-modal" uk-modal>
                <div class="uk-modal-dialog" uk-overflow-auto>
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="uk-modal-header">
                        <h2 class="uk-modal-title">Subscribe to vacancy</h2>
                    </div>
                    <div class="uk-modal-body uk-padding-remove">
                        <div class="uk-padding-small">
                            <span>Here you can choose one of your resume to subscribe to the vacancy.</span>
                        </div>
                        {% for cv in candidate.cvs.all %}
                            {% if cv.published %}
                                {% include 'cv/include/cv.html' with selectable=True can_sub=can_subscribe %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close uk-button-small" type="button">
                            Cancel
                        </button>
                        <a href="{% url 'new_cv' %}" class="uk-button uk-button-primary uk-button-small"
                           type="button">Add new CV</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
