{% extends 'jobboard/base.html' %}

{% load static pipeline_tags %}

{% block head_title %}{{ vacancy.title }} pipeline {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pipeline.css' %}">
{% endblock %}

{% block content %}
    <div class="uk-container uk-align-center">
        <h4>Construct new pipeline for vacancy {{ vacancy.title|title }}</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        <p>Vacancy: {{ vacancy.title }}, allowed: <span id="allowed">{{ vacancy.allowed_amount }}</span> Vera</p>
        <div id="alert_increase" class="uk-alert-warning" uk-alert>
            <a class="uk-align-right" uk-icon="close"></a>
            <p class="uk-align-left">The amount of remuneration of stages can not be less than allowed amount. <a
                    href="#increase" uk-toggle>Increase.</a></p>
            <br/>
        </div>
        <form method="post" id="pipeline_form">
            {% csrf_token %}
            <ul id="pipeline-constructor"
                class="uk-grid-small uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-2@s"
                uk-sortable="handle: .uk-sortable-handle" uk-grid>

                {% for i in 6|pipeline_max_length %}
                    <li class="uk-padding-remove">
                        <div class="uk-border uk-margin-right">
                            <div class="uk-card uk-padding-small">
                                <span class="uk-sortable-handle uk-position-top-left uk-margin-small-top uk-margin-small-left"
                                      uk-icon="icon: move; ratio: 0.65"></span>
                                <span class="ban-action uk-position-top-right uk-margin-small-top uk-margin-small-right"
                                      uk-icon="icon: ban; ratio: 0.65"></span>
                                <br>
                                <select name="action" class="uk-select uk-form-small uk-margin-small">
                                    <option disabled selected>Choose action</option>
                                    {% for item in action_types %}
                                        <option data-fee="{{ item.fee|lower }}"
                                                value="{{ item.title }}">{{ item.title }}</option>
                                    {% endfor %}
                                </select>
                                <input style="display: none" name="fee"
                                       class="uk-input uk-form-small uk-margin-small"
                                       type="number" step="1" placeholder="Fee">
                                <label><input class="uk-checkbox" type="checkbox"> Approvable</label>
                                <input type="hidden" name="approve">
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <br/>
            <button id="pipeline_form_submit" type="submit"
                    class="uk-button uk-button-small uk-button-primary uk-align-right">Continue
            </button>
        </form>
    </div>
    <div id="increase" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Increase total amount</h2>
            </div>
            <form id="increase_allowed_form" method="post" action="{% url 'update_allowed' pk=vacancy.id %}"
                  class="uk-form-horizontal">
                <div class="uk-modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur cum doloremque
                        dolorum
                        facilis</p>
                    {% csrf_token %}
                    <div class="uk-margin">
                        <label class="uk-form-label" for="new_allowed">Allowed amount</label>
                        <div class="uk-form-controls">
                            <input id="new_allowed" name="allowed_amount" class="uk-input" type="number" step="1"
                                   value="{{ vacancy.allowed_amount }}">
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/pipeline.js' %}"></script>
{% endblock %}
