<p class="uk-padding-small">
    {% if action %}
        {% if action.type.title|lower != 'wait' %}
            To go to the next stage of the vacancy, you need to pass {{ action.type.title|lower }} {% if next_approvable %} and wait for approve from employer{% endif %}.
            <br/>
            <a class="uk-button uk-button-primary uk-button-small uk-align-right" href="{{ url }}">Let's
                pass {{ action.type.title|lower }}</a>
            <span class="uk-clearfix"></span>
        {% else %}
            To go to the next stage of the vacancy, you need to wait for approve from employer
        {% endif %}
    {% endif %}
</p>
