<span class="uk-text-lead uk-text-background">{{ question.question_text|safe }}</span>
{% for answer in question.answers.all %}
    <div class="uk-margin uk-margin-left">
        <label><input
                class="uk-radio"
                type="radio"
                name="question_{{ question.id }}"
                id="answer_{{ answer.id }}"
                {% if answers %}
                    {% for answered_id in answers %}
                        {% if answered_id == answer.id %}
                checked="checked"
                        {% endif %}
                    {% endfor %}
                disabled
                {% endif %}
                value="{{ answer.id }}">
            {{ answer.text|safe }}
        </label>
    </div>
{% endfor %}
