{% extends 'jobboard/base.html' %}

{% load jobboard_tags material_form i18n %}

{% block head_title %} VeraOracle - New Vacancy {% endblock %}

{% block content %}
    <div class="uk-container uk-align-center">
        {% include 'jobboard/include/messages.html' %}
        {% if request.role_object.enabled == True %}
            {% if request.role_object.contract_address %}
                <form class="uk-form-horizontal" class="uk-form-horizontal uk-margin-large"
                      action="{% url 'new_vacancy' %}" method="post">
                    {% csrf_token %}
                    <fieldset class="uk-fieldset">
                        <legend class="uk-legend">
                            {% trans 'New Vacancy' %}
                        </legend>
                        {% form form=form %}{% endform %}
                        <button class="uk-button uk-button-primary uk-button-small uk-align-right">Continue</button>
                    </fieldset>
                </form>
            {% else %}
                {% include 'jobboard/include/message.html' with message="Your contract doesn't ready yet" %}
            {% endif %}
        {% else %}
            {% include 'jobboard/include/message.html' with message="You must enable your main contract for create new vacancy" %}
        {% endif %}

    </div>
{% endblock %}
