{% extends 'jobboard/base.html' %}

{% load jobboard_tags material_form %}

{% block head_title %} VeraOracle - New Vacancy {% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m10 l10 push-m1 push-l1">
            {% if error %}
                <br><br><br><br>
                <h4 class="center">
                    {{ error }}
                </h4>
                <br><br><br><br>
            {% else %}
                {% if obj.enabled == True %}
                    {% if obj.contract_address %}
                        <h4 class="center">New Vacancy</h4>
                        {% if error %}
                            <span class="center red-text">{{ error }}</span>
                        {% endif %}
                        <form action="{% url 'new_vacancy' %}" method="post">
                            {% csrf_token %}
                            {% form form=form %}{% endform %}
                            <button class="btn waves-effect waves-light blue right">Continue</button>
                            <div class="clearfix"></div>
                        </form>
                    {% else %}
                        {% include 'jobboard/include/message.html' with message="Your contract doesn't ready yet" %}
                    {% endif %}
                {% else %}
                    {% include 'jobboard/include/message.html' with message="You must enable your main contract for create new vacancy" %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}