{% extends 'jobboard/base.html' %}

{% load jobboard_tags pipeline_tags static %}

{% block head_title %}Vera Oracle - Vacancy {{ vacancy.title }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pipeline.css' %}">
{% endblock %}

{% block content %}
    <div class="uk-container uk-align-center uk-offcanvas-content">
        {% include 'jobboard/include/messages.html' %}
        <h4>{{ vacancy.title|title }}, <span class="uk-text-muted"><small>{{ vacancy.employer.organization|title }}</small>
            {% if vacancy.employer == request.role_object %}
                <a href="{% url 'vacancy_edit' pk=vacancy.id %}" uk-icon="file-edit"></a>
            {% endif %}
        </span>
        </h4>
        {% if request.role_object == vacancy.employer %}
            {% with vacancy.enabled as en %}
                <div class="uk-align-right">
                    {% if en != None %}
                        <a class="uk-button-text uk-button uk-text-capitalize"
                           href="{% url 'change_vacancy_status' pk=vacancy.id %}">
                            {% if en is True %}
                                Disable vacancy
                            {% elif en is False %}
                                Enable vacancy
                            {% endif %}
                        </a>
                    {% else %}
                        <div uk-spinner="ratio: 0.4"></div>
                    {% endif %}
                </div>
            {% endwith %}
        {% endif %}
        <section>
            <span class="uk-text-lead">Contract info</span>
            <div>
                Vacancy uuid: {{ vacancy.uuid }}
            </div>
            {% if vacancy.employer.user == request.user %}
                <div>
                    Allowance:
                    {% if vacancy.published %}
                        {{ vacancy.id|allowance_rest }} Vera
                    {% else %}
                        <div uk-spinner="ratio: 0.4"></div>
                    {% endif %}
                </div>
            {% endif %}
        </section>
        <hr class="uk-divider-icon">
        <section>
            <span class="uk-text-lead">General vacancy info</span>
            <div>
                Organization:
                <a class=" red-text"
                   href="{% url 'employer_about' pk=vacancy.employer.id %}">{{ vacancy.employer.organization }}</a>
            </div>
            <div>
                City: {{ vacancy.city|title }}
            </div>
            {% if vacancy.experience %}
                <div>
                    Required experience: {{ vacancy.experience }} years.
                </div>
            {% endif %}
        </section>
        <hr class="uk-divider-icon">
        <section>
            <span class="uk-text-lead">Working conditions</span>
            {% with vacancy.schedule.all as schedules %}
                {% if schedules %}
                    <div>
                        Schedule: {{ schedules|join:', ' }}.
                    </div>
                {% endif %}
            {% endwith %}
            {% with vacancy.busyness.all as busyness %}
                {% if busyness %}
                    <div>
                        Busyness: {{ busyness|join:', ' }}.
                    </div>
                {% endif %}
            {% endwith %}
            <div>
                Salary:
                {% if vacancy.salary_from %}
                    {% if vacancy.salary_up_to %}
                        {{ vacancy.salary_from }} - {{ vacancy.salary_up_to }} $$
                    {% else %}
                        from {{ vacancy.salary_from }} $
                    {% endif %}
                {% else %}
                    by agreement
                {% endif %}
            </div>
        </section>
        <hr class="uk-divider-icon">
        <section>
            <div>
                {% if vacancy.description %}
                    <span class="uk-text-lead">Vacancy description</span>
                    <div>
                        {{ vacancy.description|safe }}
                    </div>
                {% endif %}
            </div>
            <div>
                {% if vacancy.requirement %}
                    <span class="uk-text-lead">Vacancy requirement</span>
                    <div>
                        {{ vacancy.requirement|safe }}
                    </div>
                {% endif %}
            </div>
        </section>
        <hr/>
        <section>
            {% for item in vacancy.specializations.all %}
                <div class="chip">{{ item }}</div>
            {% endfor %}
            {% for item in vacancy.keywords.all %}
                <div class="chip grey lighten-3">{{ item }}</div>
            {% endfor %}
        </section>
        <br>
        {% if request.role_object == vacancy.employer %}
            {% vacancy_employer_pipeline vacancy %}
        {% elif request.role == 'candidate' %}
            {% vacancy_candidate_pipeline vacancy request.role_object %}
        {% endif %}

    </div>
{% endblock %}
