{% load jobboard_tags vacancy_tags statistic_tags %}
{% with item.company.employer|is_owner:role_object as owner %}
    <div class="uk-box-shadow-small uk-padding-small uk-margin-small">
        <div uk-grid>
            <div class="{% if not selectable %}uk-width-2-3{% endif %}">
                <div>
                    {% if selectable %}
                        {% with item|is_already_offer:candidate.profile as offer %}
                            {% url 'offer_vacancy' vacancy_id=item.id profile_id=candidate.profile.id as offer_url %}
                            <a class="uk-button uk-button-text{% if offer %} uk-text-muted{% endif %}"
                               href="{% if offer %}#{% else %}{{ offer_url }}{% endif %}">{{ item.title }} (Offered)</a>
                        {% endwith %}
                    {% else %}
                        <a class="uk-button uk-button-text"
                           href="{% url 'vacancy' pk=item.id %}"> <span class="uk-text-bold">{{ item.company.name }}</span>: {{ item.title }}</a>
                    {% endif %}
                    {% if owner and editable %}
                        <a href="{% url 'vacancy_edit' pk=item.id %}" uk-icon="icon: file-edit"></a>
                    {% endif %}
                </div>
                <span class="uk-text-small">created {{ item.created_at|date }}
                    {% if item.created_at != item.updated_at %},
                        updated {{ item.updated_at|timesince }} ago{% endif %}
            </span>
                <div class="uk-text-small">
                    <span class="grey-text">
                        {% if item.city %}
                            {{ item.city|title }}
                        {% endif %}
                        {% if item.published %}
                            {% if owner %}
                                {{ item.id|allowance_rest }} Vera
                            {% endif %}
                        {% else %}
                            <div uk-spinner="ratio:0.4"></div>
                        {% endif %}
                        {% if owner and editable %}
                            {% if item.published %}
                                {% if item.enabled is not None %}
                                    <a href="{% url 'change_vacancy_status' pk=item.id %}">
                                        {% if item.enabled is True %}
                                            disable
                                        {% else %}
                                            enable
                                        {% endif %}
                                    </a>
                                {% else %}
                                    Renewal vacancy status
                                    <div uk-spinner="ratio:0.4"></div>
                                {% endif %}
                            {% else %}
                                <div uk-spinner="ratio:0.4"></div>
                            {% endif %}
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        {% if show_info %}
            {% statistic item %}
        {% endif %}
    </div>
{% endwith %}
