{% extends 'jobboard/base.html' %}

{% block head_title %}Vera Oracle - {{ vac_o.title|title }} edit{% endblock %}

{% load material_form %}

{% block content %}
    <div class="uk-container uk-align-center">

        {% if error %}
            <h4 class="uk-danger">
                {{ error }}
            </h4>
        {% else %}
            {% if vac_o.contract_address %}
                <h4>Edit vacancy "{{ vac_o.title|title }}"</h4>
                {% if error %}
                    <span class="red-text">{{ error }}</span>
                {% endif %}
                <form class="uk-form-horizontal" action="{% url 'vacancy_edit' vacancy_id=vac_o.id %}" method="post">
                    {% csrf_token %}
                    {% form form=form %}{% endform %}
                    <button class="uk-button uk-button-primary uk-align-right uk-button-small">Save</button>
                </form>
            {% else %}
                {% include 'jobboard/include/message.html' %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}