{% extends 'jobboard/base.html' %}

{% block head_title %}Vera Oracle - {{ vac_o.title|title }} edit{% endblock %}

{% load material_form %}

{% block content %}
    <div class="uk-container uk-align-center">
        {% include 'jobboard/include/messages.html' %}
        {% if object.contract_address %}
            <h4>Edit vacancy "{{ object.title|title }}"</h4>
            <form class="uk-form-horizontal" action="{% url 'vacancy_edit' pk=object.id %}" method="post">
                {% csrf_token %}
                {% form form=form %}{% endform %}
                <button class="uk-button uk-button-primary uk-align-right uk-button-small">Save</button>
            </form>
        {% else %}
            {% include 'jobboard/include/message.html' with message='Vacancy contract does not ready yet' %}
        {% endif %}
    </div>
{% endblock %}
