{% extends 'jobboard/base.html' %}

{% load jobboard_tags %}

{% block head_title %} VeraOracle - Vacancy tests {% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m10 l10 push-l1 push-m1">
            <h4 class="center">Tests of vacancy "{{ vacancy.title | truncatewords:'4' }}"</h4>
            {% if tests %}
                <table class="bordered highlight" style="width:100%">
                    <colgroup>
                        <col width="15%">
                        <col width="40%">
                        <col width="40%">
                        <col width="5%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th class="right">Max attempts</th>
                    </tr>
                    </thead>
                    {% for test in tests %}
                        <tr>
                            <td>{{ test.title }}</td>
                            <td>{{ test.question | safe }}</td>
                            <td>{{ test.answer }}</td>
                            <td class="center">{{ test.max_attempts }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>The vacancy does not have any tests yet.</p>
            {% endif %}
            <br>
            <a href="{% url 'vacancy_test_new' vacancy_id=vacancy.id %}"
               class="btn waves-effect waves-light blue right">Add
                new test now</a>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}