{% extends 'jobboard/base.html' %}

{% load jobboard_tags %}

{% block head_title %}Vera Oracle - Vacancy {{ vacancy.title }}{% endblock %}

{% block content %}
    <div class="uk-container uk-align-center">
        <h4>{{ vacancy.title|title }}, <span class="uk-text-muted"><small>{{ vacancy.employer.organization|title }}</small></span>
        </h4>
        {% if request.role_object == vacancy.employer %}
            {% if vacancy.contract_address is not None %}
                {% with vacancy.enabled as en %}
                    <div class="uk-align-right">
                        {% if en != None %}
                            <a class="uk-button-text uk-button uk-text-capitalize"
                               href="{% url 'change_vacancy_status' pk=vacancy.id %}">
                                {% if en is True %}
                                    Disable contract
                                {% elif en is False %}
                                    Enable contract
                                {% endif %}
                            </a>
                        {% else %}
                            <div uk-spinner="ratio: 0.7"></div>
                        {% endif %}
                    </div>
                {% endwith %}
            {% endif %}
        {% endif %}
        <section>
            <span class="uk-text-lead">Contract info</span>
            <div>
                {% with vacancy.contract_address as address %}
                    Vacancy contract address:
                    {% if vacancy.contract_address is not None %}
                        <img style="width: 16px; height: 16px;" src="{{ address|get_blockies_png }}"
                             alt="">
                        <a class="uk-button uk-button-text" target="_blank"
                           href="{% net_url %}address/{{ address }}">{{ address }}</a>
                    {% else %}
                        <div uk-spinner="ratio: 0.7"></div>
                    {% endif %}
                {% endwith %}
            </div>
            <div>
                Interview fee:
                {% if vacancy.contract_address %}
                    {{ vacancy.id|get_interview_fee }} Vera
                {% else %}
                    <div uk-spinner="ratio: 0.7"></div>
                {% endif %}
            </div>
            {% if vacancy.employer.user == request.user %}
                <div>
                    Allowance:
                    {% if vacancy.contract_address %}
                        {{ vacancy.id|allowance_rest }} Vera
                    {% else %}
                        <div uk-spinner="ratio: 0.7"></div>
                    {% endif %}
                </div>
            {% endif %}
        </section>
        <hr class="uk-divider-icon">
        <section>
            <span class="uk-text-lead">General vacancy info</span>
            <div>
                Organization:
                <a class="uk-button uk-button-text"
                   href="{% url 'employer_about' employer_id=vacancy.employer.id %}">{{ vacancy.employer.organization }}</a>
            </div>
            <div>
                City: {{ vacancy.city|title }}
            </div>
            {% if vacancy.experience %}
                <div>
                    Required experience: {{ vacancy.experience }} years.
                </div>
            {% endif %}
        </section>
        <hr class="uk-divider-icon">
        <section>
            <span class="uk-text-lead">Working conditions</span>
            {% with vacancy.schedule.all as schedules %}
                {% if schedules %}
                    <div>
                        Schedule: {{ schedules|join:', ' }}.
                    </div>
                {% endif %}
            {% endwith %}
            {% with vacancy.busyness.all as busyness %}
                {% if busyness %}
                    <div>
                        Busyness: {{ busyness|join:', ' }}.
                    </div>
                {% endif %}
            {% endwith %}
            <div>
                Salary:
                {% if vacancy.salary_from %}
                    {% if vacancy.salary_up_to %}
                        {{ vacancy.salary_from }} - {{ vacancy.salary_up_to }} $$
                    {% else %}
                        from {{ vacancy.salary_from }} $
                    {% endif %}
                {% else %}
                    by agreement
                {% endif %}
            </div>
        </section>
        <hr class="uk-divider-icon">
        <section>
            <div>
                {% if vacancy.description %}
                    <span class="uk-text-lead">Vacancy description</span>
                    <div>
                        {{ vacancy.description|safe }}
                    </div>
                {% endif %}
            </div>
            <div>
                {% if vacancy.requirement %}
                    <span class="uk-text-lead">Vacancy requirement</span>
                    <div>
                        {{ vacancy.requirement|safe }}
                    </div>
                {% endif %}
            </div>
        </section>
        <hr/>
        <section>
            {% for item in vacancy.specializations.all %}
                <div class="chip">{{ item }}</div>
            {% endfor %}
            {% for item in vacancy.keywords.all %}
                <div class="chip grey lighten-3">{{ item }}</div>
            {% endfor %}
        </section>
        {% if request.role == 'candidate' and vacancy.contract_address and request.role_object.cvs.all %}
            {% with request.role_object|is_can_subscribe:vacancy as can_subscribe %}
                <a {% if not can_subscribe.0 %}uk-tooltip="{{ can_subscribe.1 }}"{% endif %}
                   {% if can_subscribe.0 %}href="#subscribe" uk-toggle{% endif %}
                   class="uk-toggle uk-button uk-button-primary uk-button-small uk-align-right">
                    Subscribe to interview
                </a>
                <div id="subscribe" uk-modal>
                    <div class="uk-modal-dialog" uk-overflow-auto>
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title">{{ vacancy.title }}</h2>
                        </div>
                        <div>
                            {% for cv in request.role_object.cvs.all %}
                                {% include 'cv/include/cv.html' with selectable=True can_sub=can_subscribe %}
                            {% endfor %}
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close uk-button-smal" type="button">
                                Cancel
                            </button>
                            <a href="{% url 'new_cv' %}" class="uk-button uk-button-primary uk-button-smal"
                               type="button">Add new CV</a>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endif %}

        {% if vacancy.employer == request.role_object %}
            <div class="uk-align-right">
                <a href="{% url 'vacancy_edit' pk=vacancy.id %}"
                   class="uk-button uk-button-default uk-button-small">Edit</a>
                <a href="{% url 'vacancy_exam' vacancy_id=vacancy.id %}"
                   class="uk-button uk-button-primary uk-button-small">Exam</a>
            </div>
            <div class="uk-clearfix"></div>
            {% if vacancy.contract_address %}
                {% get_candidates vacancy %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
