<div class="uk-padding-small">
    <div>
        {% if all %}
            <div><span class="blue-text">total&nbsp;views: </span><span
                    class="grey-text">{{ all|default:0 }}&nbsp;</span>
            </div>
        {% endif %}
        {% if per_day %}
            <div><span class="blue-text">total&nbsp;views&nbsp;today: </span><span
                    class="grey-text">{{ per_day|default:0 }}&nbsp;</span></div>
        {% endif %}
    </div>
    <div class="uk-width-auto">
        <a class="uk-link-reset" href="{{ item.get_statistic_url }}"> Full stats</a>
    </div>
</div>
