{% extends "jobboard/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Confirm Email" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m6 l6 offset-m3 offset-l3">
            <form method="post" action="{% url "account_confirm_email" key=confirmation.key %}">
                <h4>{% trans "Confirm Email" %}</h4>
                <div>
                    {% csrf_token %}
                    <p>{% blocktrans with email=confirmation.email_address.email %}Confirm email address <b>{{ email }}</b>?{% endblocktrans %}</p>
                    <button type="submit" class="btn waves-effect waves-light blue">{% trans "Confirm" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}