{% extends "jobboard/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log out" %}{% endblock %}

{% block content %}
    <div class="uk-container uk-align-center">
        <form method="POST" action="{% url "account_logout" %}">
            <h4>{% trans "Log out" %}</h4>
            <div>
                {% csrf_token %}
                <p>{% trans "Are you sure you want to log out?" %}</p>
                <button type="submit"
                        class="uk-button uk-button-primary uk-button-small uk-align-right">{% trans "Log out" %}</button>
            </div>
        </form>
    </div>
{% endblock %}
