{% extends "jobboard/base.html" %}

{% load i18n %}
{% load material_form %}

{% block head_title %}{% trans "Set your new password" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
                <h4>{% trans "Set your new password" %}</h4>
                <fieldset>
                    {% csrf_token %}
                    {% form form=form %}{% endform %}
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}