{% extends "jobboard/base.html" %}

{% load i18n %}
{% load material_form %}

{% block body_class %}account account-password{% endblock %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="uk-container uk-align-center">
        <form method="POST" action="">
            <h4>{% trans "Change password" %}</h4>
            <fieldset>
                {% csrf_token %}
                {% form form=form %}{% endform %}
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </fieldset>
        </form>
    </div>
{% endblock %}
