{% extends "jobboard/base.html" %}

{% load i18n %}
{% load material_form %}
{% load account_tags %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% user_display request.user as user_display %}

{% block content %}
    <div class="row">
        <div  class="col s12 m6 l6 offset-m3 offset-l3">
            <form method="POST" action="">
                <h4>{% trans "Password reset" %}</h4>
                <p class="lead">{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>
                <div class="row">
                    <div class="col ">
                        {% csrf_token %}
                        {% form form=form %}{% endform %}
                        <button type="submit" class="btn waves-light waves-effect">
                            {% trans "Reset my password" %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}