{% extends "jobboard/base.html" %}

{% load i18n %}
{% load material_form %}

{% block body_class %}account account-password{% endblock %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m6 l6 offset-m3 offset-l3">
            <form method="POST" action="">
                <h4>{% trans "Change password" %}</h4>
                <fieldset>
                    {% csrf_token %}
                    {% form form=form %}{% endform %}
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}