{% extends "jobboard/base.html" %}

{% load account_tags %}
{% load i18n %}
{% load material_form %}

{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m6 l6 offset-m3 offset-l3">
            <form id="signup_form" method="post" action="{% url "account_signup" %}" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                <h4>{% trans "Sign up" %}</h4>
                {% csrf_token %}
                {% form form=form %}{% endform %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn waves-light waves-effect blue">{% trans "Sign up" %}</button>
            </form>
            <p class="login-signup">
                <small>
                    {% trans "Already have an account?" %}  <strong><a href="{% urlnext 'account_login' %}">{% trans "Log in" %}</a></strong>
                </small>
            </p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
