{% extends "jobboard/base.html" %}

{% load account_tags %}
{% load i18n %}

{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block content %}
    <div class="uk-container uk-align-center">
        <span class="uk-text-danger">{{ form.non_field_errors }}</span>
        <form id="signup_form" method="post" action="{% url 'account_signup' %}" {% if form.is_multipart %}
              enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">
                    {% trans "Sign up" %}
                </legend>
                <div class="uk-margin">
                    <div class="uk-inline" style="display:block;">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input" type="text" name="username" maxlength="30" required id="id_username"
                               placeholder="Username">
                    </div>
                </div>
                {% for error in form.username.errors %}
                    <span class="uk-text-danger uk-margin">
                            {{ error }}
                    </span>
                {% endfor %}
                <div class="uk-margin">
                    <div class="uk-inline" style="display:block;">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input" type="password" name="password" required id="id_password"
                               placeholder="Password">
                    </div>
                </div>
                {% for error in form.password.errors %}
                    <span class="uk-text-danger uk-margin">
                            {{ error }}
                    </span>
                {% endfor %}
                <div class="uk-margin">
                    <div class="uk-inline" style="display:block;">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input" type="password" name="password_confirm" required
                               id="id_password_confirm"
                               placeholder="Password (again)">
                    </div>
                </div>
                {% for error in form.password_confirm.errors %}
                    <span class="uk-text-danger uk-margin">
                            {{ error }}
                    </span>
                {% endfor %}
                <div class="uk-margin">
                    <div class="uk-inline" style="display:block;">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        <input class="uk-input" type="text" name="email" required id="id_email" placeholder="Email">
                    </div>
                </div>
                {% for error in form.email.errors %}
                    <span class="uk-text-danger uk-margin">
                            {{ error }}
                    </span>
                {% endfor %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <p class="login-signup uk-text">
                    {% trans "Already have an account?" %} <a class="uk-link-reset"
                                                              href="{% urlnext 'account_login' %}">{% trans "Log in" %}</a>
                </p>
                <button type="submit"
                        class="uk-button uk-button-primary uk-button-small uk-align-right">{% trans "Sign up" %}</button>
            </fieldset>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
