{% extends "jobboard/base.html" %}
{% load static %}
{% load i18n %}
{% block extra_css %}
    <link href="{% static "css/interview.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ block.super }}
    <input id="interview_id" type="hidden" value="{{ active_dialog.id }}">
    <input id="owner_username" type="hidden" value="{{ request.user.username }}">
    <div class="uk-container uk-align-center">
        <h4>{% trans 'Interview for vacancy' %} {{ active_dialog.action_interview.action.pipeline.vacancy.title|title }}</h4>
        {% if active_dialog.closed %}
            <div class="uk-alert-danger" uk-alert>
                <p>{% trans 'Interview already closed by employer' %}</p>
            </div>
        {% endif %}
        <p class="uk-text-success" id="online-status"
           style="display: none">{{ opponent_username|title }} {% trans "now online" %}</p>
        <p class="uk-text-danger" id="offline-status"
           style="display: none">{{ opponent_username|title }} {% trans "now offline" %}</p>
        <div class="messages-container">
            <div id="messages" class="messages">
                {% for msg in active_dialog.messages.all %}
                    {% ifchanged msg.sender.username %}
                        <hr class="uk-divider-icon"/>
                        <div class="uk-text-center">
                            <span class="uk-text-muted">{{ msg.get_formatted_create_datetime }}</span>
                        </div>
                    {% endifchanged %}
                    <div class="{% if msg.sender == request.user %}uk-text-left{% else %}uk-text-right{% endif %}"
                         data-id="{{ msg.id }}">
                        {% ifchanged msg.sender.username %}
                            <div class="username uk-text-capitalize">{{ msg.sender.username }}</div>
                        {% endifchanged %}
                        <div class="uk-padding-small uk-padding-remove-top uk-padding-remove-bottom">{{ msg.text }}</div>
                    </div>
                {% empty %}
                    Start a conversation with your employer.
                {% endfor %}
            </div>
        </div>
        <span style="display:none" id="typing-text">
                        <strong>{{ opponent_username|title }} {% trans "is typing..." %}</strong>
                    </span>
        {% if not active_dialog.closed %}
            <div class="uk-margin">
                        <textarea {% if active_dialog.closed %}disabled{% endif %} id="chat-message"
                                  class="uk-textarea simple"
                                  placeholder="{% trans 'Write a message' %}"></textarea>
            </div>
            <button id="btn-send-message" type="submit"
                    class="uk-button uk-button-primary uk-button-small uk-align-right"
                    style="margin-left: 10px;">{% trans 'Send' %}</button>

            {% if request.role_object == active_dialog.action_interview.action.pipeline.vacancy.employer %}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="vac_uuid"
                           value="{{ active_dialog.action_interview.action.pipeline.vacancy.uuid }}">
                    <input type="hidden" name="cv_uuid" value="{{ active_dialog.cv.uuid }}">
                    <button class="uk-button uk-button-default uk-button-small" type="submit" name="type"
                            value="approve">
                        Approve
                    </button>
                    <button class="uk-button uk-button-default uk-button-small" type="submit" name="type"
                            value="revoke">
                        Revoke
                    </button>
                </form>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}

{% block extra_js %}
    {% if not active_dialog.closed %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollmonitor/1.2.0/scrollMonitor.js"
                integrity="sha256-BseZlDlA+yL4qu+Voi82iFa5aaifralQEXIjOjaXgeo=" crossorigin="anonymous"></script>
        <script>
            var base_ws_server_path = "{{ ws_server_path }}";
            var session_key = "{{ request.session.session_key }}";
            var oppenent_uuid = "{{ opponent_uuid }}";
        </script>
        <script src="{% static 'js/interview.js' %}"></script>
    {% endif %}
{% endblock %}

