{% extends 'jobboard/base.html' %}

{% load material_form static interview_tags %}

{% block head_title %}
    Vera Oracle - Schedule interview
{% endblock %}

{% block content %}
    {{ block.super }}

    <div id="change-datetime" data-uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" data-uk-close></button>
            <form class="uk-form-horizontal" method="post">
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Change meeting date time</h2>
                </div>
                <div class="uk-modal-body">
                    {% csrf_token %}
                    {% form form=form %}{% endform %}
                    <div class="uk-clearfix"></div>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button type="submit"
                            class="uk-button uk-button-small uk-button-primary uk-align-right uk-margin-remove-bottom">
                        Confirm
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="uk-container uk-align-center">
        <h4 data-hint="scheduling-main" class="uk-text-bold">Scheduling meeting</h4>
        <div class=" uk-margin-large-bottom" data-uk-grid>
            <div class="uk-width-2-3">
                <div class="uk-border uk-padding-small white">
                    {% if not meeting %}
                        <div data-hint="meeting-available">
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="date" value="{{ form.initial.date|date:'Y-m-j' }}">
                                <input type="hidden" name="time" value="{{ form.initial.time|date:'H:i:s' }}">
                                <p>Closest meeting available in <span
                                        class="green-text">{{ form.initial.date|date:'j F' }}, {{ form.initial.time|date:'H:i' }}</span>.
                                    Ok?</p>
                                <div class="uk-align-right uk-margin-remove-bottom">
                                    <button data-hint="confirm" type="submit"
                                            class="uk-button uk-button-small uk-button-primary">Confirm
                                    </button>
                                    <a class="uk-button uk-button-small uk-button-default"
                                       data-uk-toggle href="#change-datetime">Change date/time
                                    </a>
                                </div>
                            </form>
                        </div>
                        <div class="uk-clearfix"></div>

                    {% else %}
                        <h5 data-hint="scheduled" class="uk-text-bold">Meeting already scheduled</h5>
                        <table class="uk-table uk-table-divider uk-table-small" width="100%">
                            <colgroup>
                                <col width="30%">
                                <col width="70%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>Date</td>
                                <td>{{ meeting.date|date:'Y-m-j' }}</td>
                            </tr>
                            <tr>
                                <td>Time</td>
                                <td>{{ meeting.time|date:'H:i:s' }}</td>
                            </tr>
                            {% now 'Y-m-j' as now %}
                            {% if now == meeting.date|date:'Y-m-j' %}
                                {% now 'H' as now_time_hours %}
                                {% now 'i' as now_time_minutes %}
                                {% if now_time_hours >= meeting.time|date:'H' %}
                                    {% with meeting.time|date:'i'|add:'-10' as time %}
                                        {% if now_time_minutes|more_than_equal:time %}
                                            <tr data-hint="link-available">
                                                <td>Link</td>
                                                <td><a class="vr-link uk-text-meta"
                                                       target="_blank"
                                                       href="{{ meeting.link_join }}">Go interview!</a></td>
                                            </tr>
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                            {% endif %}
                            </tbody>
                        </table>
                        <div class="uk-align-right uk-margin-remove-bottom">
                            <a class="uk-button uk-button-small uk-button-default" href="#">Add to Google Calendar</a>
                            <button class="uk-button uk-button-small uk-button-primary">Change</button>
                        </div>
                        <div class="uk-clearfix"></div>
                    {% endif %}
                </div>
            </div>
            <div class="uk-width-1-3">
                <div class="uk-border uk-padding-small white">
                    <h5 class="uk-text-bold">Scheduling description</h5>
                    {% lorem %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {% if hints_enabled %}
        <script src="{% static 'js/hints/candidate_interviewing.js' %}"></script>
    {% endif %}
{% endblock %}
