{% load quiz_tags %}
{% if item %}
    <div data-hint="question" class="uk-box-shadow-small uk-padding-small uk-margin-small white">
        {% if item.kind %}
            <div class="uk-align-right amber-text uk-text-small">
                <span>Max points: <span class="uk-text-muted">{{ item.max_points }}</span></span>
                <span>
                Question kind:
                        <a class="uk-link-muted" href="#question_{{ item.id }}" data-uk-toggle>{{ item.kind }}</a>
                    {% if item.kind.w2v %}<sup data-uk-tooltip="The question is estimated with the help of AI"
                                               class="green-text">AI</sup>{% endif %}
                    <span class="uk-text-meta" data-uk-tooltip="Question type can be changed"
                          data-uk-icon="question"></span>
            </span>
            </div>
            <div id="question_{{ item.id }}" data-uk-modal>
                <div class="uk-modal-dialog">
                    <button class="uk-modal-close-default" type="button" data-uk-close></button>
                    <form action="{% url 'update_question_kind' pk=item.id %}" method="post">
                        {% csrf_token %}
                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title">Change question kind</h2>
                        </div>
                        <div class="uk-modal-body">
                            You can specify the kind of question, current question kind: {{ item.kind }} <br/>
                            <span class="uk-text-lead">Choose one of the available options</span>
                            {% get_questions_kinds item %}
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-small uk-button-default uk-modal-close" type="button">
                                Cancel
                            </button>
                            <button type="submit" class="uk-button uk-button-small uk-button-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
        <br/>
        <h5 class="uk-text-bold uk-margin-remove-top uk-margin-small-bottom">{{ item.question_text|safe }}</h5>
        <div>
            {% if item.answers.all %}
                <ul class="uk-list uk-margin-left">
                    {% for answer in item.answers.all|dictsortreversed:'weight' %}
                        <li>
                            <div class="uk-grid-small uk-flex-bottom" data-uk-grid>
                                <div class="uk-width-expand" data-uk-leader>{{ answer.text }}</div>
                                <div class="uk-text-meta">weight: {{ answer.weight }}</div>
                            </div>
                        </li>
                    {% endfor %}
                    {% if item.kind.w2v %}
                        <li>
                            {% include 'quiz/tags/w2v_verification.html' %}
                        </li>
                    {% endif %}
                </ul>
                <a href="{% url 'new_answer' question_id=item.id %}"
                   class="uk-align-right uk-link-muted uk-margin-remove-bottom">
                    Add answer
                </a>
                <div class="uk-clearfix"></div>
            {% else %}
                <span class="uk-text-warning">Question have no one answer! <a
                        href="{% url 'new_answer' question_id=item.id %}" class="uk-link-muted">Add answer</a></span>
            {% endif %}
        </div>
    </div>
{% endif %}
